{% import '_macros/atoms' as render %}

{%- minify -%}

    <div class="w-full my-16">

        <div class="container mx-auto px-8 xxl:px-0 max-w-screen-lg">

            {# border-l-2 border-t-2 border-{{- swatch.primary }} p-8 #}
            <blockquote {{ block.quoteSource.target ? 'cite="'~ block.quoteSource.target ~ '"' : '' }} class="mx-auto w-full whitespace-normal my-24 font-mono max-w-screen-md border-b-2 border-t-2 border-gray-200 px-4 py-16">

                <p class="text-2xl md:text-3xl lg:text-4xl">
                    {{- render.atom('text', 'content', { 
                        content: block.quote 
                    }) -}}
                </p>

                {# TODO: add transitions on the URLs, let's get fancy #}

                <footer class="mt-8">
                    {%- if block.quoteSource.getUrl() -%}
                        <a href="{{- block.quoteSource.getUrl() -}}" class="text-{{- swatch.primary }} text-base hover:text-{{- swatch.secondary -}}">{{- block.quoteAuthor }} &mdash; {{ block.quoteSource.getText() -}}</a>
                    {%- else -%}
                        <span class="text-{{- swatch.primary }} text-base">
                            {{- block.quoteAuthor -}}
                        </span>
                    {%- endif -%}
                </footer>

            </blockquote>

        </div>

    </div>
    
{%- endminify -%}