{% import '_macros/atoms' as render %}

{%- minify -%}

    {%- set blockSwatch = swatch(content.swatch) -%}

    <div class="relative w-full lg:min-h-3/4 flex items-center p-10 lg:px-20 lg:w-{{- content.width }} bg-{{- blockSwatch.primary -}}">

        <!-- create logo option -->
        <div class="absolute hidden lg:flex top-4 left-4 w-32 h-32 items-center justify-center">
            {{- render.atom('link', 'home', { 
        
                url: baseUrl,
                title: branding.organisationName,
                logo: branding.icon[0].extension == 'svg' ? branding.icon[0] : null ??? null,
                utilities: 'w-16 h-16',
                placeholder: placeholder,
                swatch: 'white',
        
            }) -}}
        </div>

        {# border-l-2 border-t-2 border-{{- swatch.primary }} p-8 #}
        <blockquote {{ block.quoteSource.target ? 'cite="'~ block.quoteSource.target ~ '"' : '' }} class="mx-auto w-full whitespace-normal my-24 font-mono max-w-screen-md px-4 py-16">

            <p class="text-2xl md:text-3xl lg:text-4xl text-white-100">
                {{- render.atom('text', 'content', { 
                    content: block.quote 
                }) -}}
            </p>

            {# TODO: add transitions on the URLs, let's get fancy #}

            <footer class="mt-8">
                {%- if block.quoteSource.getUrl() -%}
                    <a href="{{- block.quoteSource.getUrl() -}}" class="text-white-100 text-base hover:text-{{- swatch.secondary -}}">{{- block.quoteAuthor }} &mdash; {{ block.quoteSource.getText() -}}</a>
                {%- else -%}
                    <span class="text-white-100 text-base">
                        {{- block.quoteAuthor -}}
                    </span>
                {%- endif -%}
            </footer>
        </blockquote>

    </div>

{%- endminify -%}