{% import '_macros/atoms' as render %}

{%- minify -%}

    {%- set blockSwatch = swatch(content.swatch) -%}

    <div class="relative w-full {{ content.width == '1/1' ? 'lg:min-h-3/4' : '' }} flex items-center p-10 lg:px-20 lg:w-{{- content.width }} bg-{{- blockSwatch.primary -}}">

        {% if content.showLogo %}

            {% set position = null %}

            {% switch content.position %}

                {% case 'left' %}

                    {% set position = 'top-10 left-10 lg:left-20' %}

                {% case 'right' %}

                    {% set position = 'top-10 right-10 lg:right-20' %}

                {% case 'drop-left' %}

                    {% set position = 'bottom-10 left-10 lg:left-20' %}

                {% case 'drop-right' %}

                    {% set position = 'bottom-10 right-10 lg:right-20' %}

            {% endswitch %}



            <div class="absolute hidden lg:flex w-16 h-16 items-center justify-center {{ position -}}">
                {{- render.atom('link', 'home', {

                    url: baseUrl,
                    title: branding.organisationName,
                    logo: branding.icon[0].extension == 'svg' ? branding.icon[0] : null ??? null,
                    utilities: 'w-16 h-16',
                    placeholder: placeholder,
                    swatch: content.swatch.label == 'white' ? swatch : blockSwatch,

                }) -}}
            </div>
        {% endif %}

        {# border-l-2 border-t-2 border-{{- swatch.primary }} p-8 #}
        <blockquote {{ block.quoteSource.target ? 'cite="'~ block.quoteSource.target ~ '"' : '' }} class="mx-auto w-full whitespace-normal font-mono max-w-screen-md px-4 py-8 lg:my-24">

            <p class="text-2xl md:text-3xl lg:text-4xl {{ content.swatch.label == 'white' ?: 'text-white' }}">
                {{- render.atom('text', 'content', {
                    content: block.quote
                }) -}}
            </p>

            {# TODO: add transitions on the URLs, let's get fancy #}

            <footer class="mt-8">
                {%- if block.quoteSource.getUrl() -%}
                    <a
                        href="{{- block.quoteSource.getUrl() -}}"
                        data-tag-category="quote-source"
                        data-tag-action="click"
                        data-tag-label="{{- block.quoteSource.getUrl() -}}"
                        class="{{ content.swatch.label == 'white' ?: 'text-white' }} underline text-base hover:no-underline"
                    >
                        {{- block.quoteAuthor }} &mdash; {{ block.quoteSource.getText() -}}
                    </a>
                {%- else -%}
                    <span class="{{ content.swatch.label == 'white' ?: 'text-white' }} text-base">
                        {{- block.quoteAuthor -}}
                    </span>
                {%- endif -%}
            </footer>
        </blockquote>

    </div>

{%- endminify -%}
