{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- minify -%}
        <div class="reative z-2 {{ utilities -}}">
            <p class="font-mono text-gray-900 text-base">
                <span class="text-{{- content.swatch }}">{{ content.category }}</span>
                by
                {{- functions.authors(content.authors, { swatch: content.swatch }) }}
                on the
                <time datetime="{{ content.postDate|date('c')}}">{{ content.postDate|date('jS F Y')}}</time>
            </p>
        </div>
{%- endminify -%}