{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- set utilities = utilities ??? null -%}
{%- set category = category ??? null -%}
{%- set swatch = content.swatch ??? 'blue-600' -%}

{%- minify -%}
        <div class="reative z-2 {{ utilities -}}">
            <p class="font-mono text-gray-900 text-base">
                <span class="text-{{- swatch }}">{{ category }}</span>
                by
                {{- functions.authors(content.authors, { swatch: swatch }) }}
                on the
                <time datetime="{{ content.postDate|date('c')}}">{{ content.postDate|date('jS F Y')}}</time>
            </p>
        </div>
{%- endminify -%}