{# Date #}
{% macro formatDate(date) %}
    {% spaceless %}
        {{- date | date('d.m.Y') -}}
    {% endspaceless %}
{% endmacro %}

{# Logos #}
{% macro logo(type = 'logo') %}
    {% spaceless %}
        {% set logo = type == 'logo' ? brand.logo.one() : brand.icon.one() %}
        <a href="{{- alias('@web') ~ '/' -}}" class="block relative z-1 {{ type == 'logo' ? 'w-48 h-6' : 'w-12 h-12' -}}">
            {{ svg(logo) }}
        </a>
    {% endspaceless %}
{% endmacro %}

{# Hero Image #}
{% macro hero_image(heroImage, alt = '', ratio = 'is16by9') %}
    {% set image = heroImage.optimizeHeroes %}
    {% spaceless %}
        <figure role="figure" aria-label="{{- alt -}}" class="relative w-full h-full">
            <div class="img {{ ratio }} static">
                <img  src="{{- image.placeholderImage() -}}"
                        data-src="{{- image.src() -}}"
                        data-srcset="{{- image.srcset() -}}"
                        sizes="100vw"
                        alt="{{- alt -}}"
                        class="object-cover min-w-full min-h-full w-full h-full z-1 lazyload">
            </div>
        </figure>
    {% endspaceless %}
{% endmacro %}

{# Article Image #}
{% macro article_image(articleImage, alt = '', ratio = null, caption = null, author = null, source = null) %}
    {% import _self as atom %}
    {% set image = articleImage.optimizeArticles %}
    {% spaceless %}
        <figure role="figure" aria-labelledby="{{- alt ~ '-' ~ articleImage.id -}}" class="w-full h-full">
        <div class="img {{ ratio -}}">
            <img  src="{{- image.placeholderImage() -}}"
                data-src="{{- image.src() -}}"
                data-srcset="{{- image.srcset() -}}"
                sizes="100vw"
                alt="{{- alt -}}"
                class="object-cover lazyload">
        </div>
        {% if caption %}
            {{- atom.caption(caption, author, source, alt ~ '-' ~ articleImage.id) -}}
        {% endif %}
        </figure>
    {% endspaceless %}
{% endmacro %}

{# Teaser Image #}
{% macro teaser_image(teaserImage, alt = '') %}
    {% set image = teaserImage.optimizeTeasers %}
    {% spaceless %}
        <figure role="figure" aria-label="{{- alt -}}" class="relative w-full h-full">
            <div class="img is1by1">
                <img  src="{{- image.placeholderImage() -}}"
                    data-src="{{- image.src() -}}"
                    data-srcset="{{- image.srcset() -}}"
                    sizes="100vw"
                    alt="{{- alt -}}"
                    class="object-cover lazyload">
            </div>
        </figure>
    {% endspaceless %}
{% endmacro %}

{# Profile Image #}
{% macro profile_image(profileImage, alt = '') %}
    {% set image = profileImage.optimizeProfileImages %}
    {{dump(image)}}
    <figure role="figure" aria-label="{{- alt -}}" class="img overflow-hidden h-16 w-16 rounded-full">
        <img  src="{{- image.placeholderImage() -}}"
            data-src="{{- image.src() -}}"
            data-srcset="{{- image.srcset() -}}"
            sizes="25vw"
            alt="{{- alt -}}"
            class="lazyload">
    </figure>
{% endmacro %}

{# Render Text #}
{% macro text(content) %}
    {% spaceless %}
        {{ content | raw | typogrify }}
    {% endspaceless %}
{% endmacro %}

{# Render Title #}
{% macro title(content, words = 60) %}
    {% spaceless %}
        {{- content | escape | typogrify(true) | truncateOnWord(words) | raw -}}
    {% endspaceless %}
{% endmacro %}

{# figcaption #}

{% macro caption(content, author = null, source = null, id) %}
    {% spaceless %}
        <figcaption id="{{- id -}}" class="font-primary text-center text-sm text-gray-500 italic p-4 border-b border-gray-300">
            {{- content }}
            {% if author and source -%}
                &mdash; 
                <a href="{{ source.url }}">
                    <span>
                        {{ author -}}
                    </span>
                    <span class="inline-block ml-2">
                        <i class="far fa-external-link-alt"></i>
                    </span>
                </a>
            {%- elseif author -%}
                &mdash; {{ author -}}
            {% endif -%}
        </figcaption>
    {% endspaceless %}
{% endmacro %}