
{# Calculate total days from a given date #}

{% macro total_days(date) %}

    {% spaceless %}
        {{- date ? date.diff(now).days : '<span class="text-red-700">no date given</span>' -}}
    {% endspaceless %}

{% endmacro %}

{# Formats all dates accordingly #}
{% macro format_date(date) %}
    {% spaceless %}
        {{- date | date('j F, Y') -}}
    {% endspaceless %}
{% endmacro %}

{% macro authors(authors, options) %}

    {% set colours = options.swatch ??? null %}
    {% set category = options.category ??? "" %}

    {% spaceless %}
        {% for author in authors %}

            <a  class="underline {{ colours ? 'transition-colors duration-200 ease-in-out hover:text-' ~ colours.primary : '' -}}" 
                href="{{- author.url -}}"
                data-tag-category="author" 
                data-tag-action="click" 
                data-tag-label="{{- author.url -}}"
                aria-label="{{- 'A ' ~ category ~ ' post by ' ~ author.title -}}"
            >
                {{- author.title -}}
            </a>

            {{- not loop.last and loop.index != loop.length - 1 ? ', ' -}}
            {{- loop.index == loop.length - 1 ? ' and ' : '' -}}

        {% endfor %}
    {% endspaceless %}
{% endmacro %}

{# Enter a date to show time ago in human readable form #}
{% macro time_ago(date) %}
    {% spaceless %}
        {{- craft.app.formatter.asRelativeTime(date) -}}
    {% endspaceless %}
{% endmacro %}

{# Add blocks for different embedded asset types #}
{%- macro embed(asset) -%}
	{% import '_macros/atoms' as render %}

	{%- set lut = {
		youtube: {
			type: 'video',
			atom: 'embed',
			options : {
				url: asset.getVideoUrl([]),
				title: asset.title
			}
		},
		vimeo: {
			type: 'video',
			atom: 'embed',
			options : {
				url: asset.getVideoUrl([]),
				title: asset.title
			}
		},
		default: asset ? asset.html,
	} -%}

	{%- spaceless -%}

		{%- set obj = lut[asset.providerName|lower] ??? null -%}

		{{- obj ? render.atom(obj.type, obj.atom, obj.options) : lut['default'] -}}
		
	{%- endspaceless -%}
{%- endmacro -%}
