
{# Calculate total days from a given date #}

{% macro total_days(date) %}

    {% spaceless %}
        {{- date ? date.diff(now).days : '<span class="text-red-700">no date given</span>' -}}
    {% endspaceless %}

{% endmacro %}

{# Formats all dates accordingly #}
{% macro format_date(date) %}
    {% spaceless %}
        {{- date | date('j F, Y') -}}
    {% endspaceless %}
{% endmacro %}

{% macro authors(authors, options) %}

    {% set colour = options.swatch ??? null %}
    {% set category = options.category ??? "" %}

    {% spaceless %}
        {% for author in authors %}

            <a  class="{{ colour ? 'text-' ~ colour : '' -}}" 
                href="{{- author.url -}}"
                data-tag-category="author" 
                data-tag-action="click" 
                data-tag-label="{{- author.url -}}"
                aria-label="{{- 'A ' ~ category ~ ' post by ' ~ author.title -}}"
            >
                {{- author.title -}}
            </a>

            {{- not loop.last and loop.index != loop.length - 1 ? ', ' -}}
            {{- loop.index == loop.length - 1 ? ' and ' : '' -}}

        {% endfor %}
    {% endspaceless %}
{% endmacro %}

{# Enter a date to show time ago in human readable form #}
{% macro time_ago(date) %}
    {% spaceless %}
        {{- craft.app.formatter.asRelativeTime(date) -}}
    {% endspaceless %}
{% endmacro %}

{# fetch an icon from the Font Awesome library #}
{%- macro fa_icon_lut(type) -%}
	{%- set lut = {
        'arrow-right-long': 'far fa-long-arrow-right',
	} -%}
	{%- spaceless -%}
		{{- lut[type] ??? 'fas fa-hashtag' -}}
	{%- endspaceless -%}
{%- endmacro -%}x

{# Add blocks for different embedded asset types #}
{%- macro embed(asset) -%}
	{% import '_macros/atoms' as render %}

	{%- set lut = {
		youtube: {
			type: 'video',
			atom: 'embed',
			options : {
				url: asset.getVideoUrl([]),
				title: asset.title
			}
		},
		vimeo: {
			type: 'video',
			atom: 'embed',
			options : {
				url: asset.getVideoUrl([]),
				title: asset.title
			}
		},
		default: asset ? asset.html,
	} -%}

	{%- spaceless -%}

		{%- set obj = lut[asset.providerName|lower] ??? null -%}

		{{- obj ? render.atom(obj.type, obj.atom, obj.options) : lut['default'] -}}
		
	{%- endspaceless -%}
{%- endmacro -%}

{# Add ga tags #}
{%- macro ga(tags) -%}

    {%- spaceless -%}

        {{ tags.category ? 'data-tag-category=' ~ tags.category : '' }}
        {{ tags.action ? 'data-tag-action=' ~ tags.action : '' }}
        {{ tags.label ? 'data-tag-label=' ~ tags.label : '' }}

    {%- endspaceless -%}

{%- endmacro -%}

{# Parse fa icon #}
{%- macro icon(options) -%}

    {%- spaceless -%}
        <span class="inline-flex ml-4 text-2xl {{ options.utilities -}}">
            <i class="{{ options.type -}}"></i>
        </span>
    {%- endspaceless -%}

{%- endmacro -%}