{% extends "_boilerplate/_layouts/generic-page-layout.twig" %}
{%- import '_macros/atoms' as render -%}

{%- set projects = craft.entries.section('work')
    .orderBy('postDate desc')
    .with(['teaserImage','projectCategories','clients'])
    .limit(3)
    .all()
-%}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    {# {%- include '_organisms/builders/hero--builder' with {
        content: entry,
    } -%} #}

    <div class="max-w-md flex mx-auto">

    {{- render.atom('button', 'secondary-outline', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    {{- render.atom('button', 'primary-outline', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        },
        icon: {
            type: 'far fa-long-arrow-right',
        }
    }) -}}

    {{- render.atom('button', 'primary', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    {{- render.atom('button', 'secondary', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    </div>

    <div class="grid grid-cols-2 gap-8 mt-10 px-5">
        {# {%- include '_molecules/cards/card--main' ignore missing with {
            content: {
                title: 'Test heading',
                swatch: 'pink-600',
                url: 'https://google.com',
                categories: [
                    'Web development',
                    'Design'
                ],
            },
            ga: {
                category: 'card-main',
                action: 'click',
                label: 'Card main'
            }
        } -%} #}

        {%- include '_molecules/cards/card--blog' ignore missing with {
            content: {
                title: 'Four Peaks Challenge in aid of Great Ormond Street',
                url: 'https://google.com',
                authors: [
                    {
                        title:'Stuart Byford',
                        url: 'https://percipio.london/team/stuart-byford',
                    },
                ],
                postDate: '23rd July 2021',
                category: 'Blog',
                swatch: 'blue-600'
            },
            ga: {
                category: 'card-blog',
                action: 'click',
                label: 'Card blog'
            }
        } -%}
    </div>

    {# <div id="page">
        {%- include '_organisms/builders/page--builder' with {
            content: entry,
        } -%}
    </div> #}
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
