{% extends "_boilerplate/_layouts/generic-page-layout.twig" %}
{%- import '_macros/atoms' as render -%}

{%- set projects = craft.entries.section('work')
    .orderBy('postDate desc')
    .with(['teaserImage','projectCategories','clients'])
    .limit(3)
    .all()
-%}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    {# {%- include '_organisms/builders/hero--builder' with {
        content: entry,
    } -%} #}

    <div class="max-w-md flex mx-auto">

    {{- render.atom('button', 'secondary-outline', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    {{- render.atom('button', 'primary-outline', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        },
        icon: {
            type: 'far fa-long-arrow-right',
        }
    }) -}}

    {{- render.atom('button', 'primary', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    {{- render.atom('button', 'secondary', {
        text: 'Normal',
        url: 'https://google.com',
        ga: {
            category: 'navigation',
            action: 'click',
            label: 'test'
        }
    }) -}}

    </div>

    <div class="mt-10">
        {%- include '_molecules/cards/card--main' ignore missing with {
            content: {
                overline: 'Test overline',
                title: 'Test heading',
                description: 'Test desc'
            }
        } -%}

        {# {%- include '_molecules/cards/card--blog' ignore missing with {
            content: {
                overline: 'Test overline',
                title: 'Test heading',
                description: 'Test desc'
            }
        } -%} #}
    </div>

    {# <div id="page">
        {%- include '_organisms/builders/page--builder' with {
            content: entry,
        } -%}
    </div> #}
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
