{%- extends "_boilerplate/_layouts/generic-page-layout.twig" -%}
{% import '_macros/atoms' as render %}

{%- block content -%}

<div class="w-full max-w-md p-5 m-auto bg-blue-600  text-white-100 space-y-6">

    <form method="post" accept-charset="UTF-8">
        {{- csrfInput() -}}
        {{- actionInput('users/login') -}}

        {{- render.atom('input', 'text', {
            placeholder: 'Enter your email',
            id: 'login',
            name: 'loginName',
            required: 'true',
        }) -}}

        <label for="password" class="block mb-2">Password</label>

        {{- input('password', 'password', null, {
            id: 'password',
            class: 'w-full p-4 mb-6 text-black-100 outline-none focus:bg-gray-300',
        }) -}}

        <div class="flex mb-6">

            <label class="flex items-center">
                {{- input('checkbox', 'rememberMe', '1', {
                    class:'form-checkbox cursor-pointer',
                }) -}}

                <span class="ml-2 cursor-pointer">Remember me</span>

            </label>

        </div>
        
        <button type="submit" class="mb-6">
            {{- render.atom('button', 'primary', {
                text: 'Login',
            }) -}}
        </button>

        {%- if errorMessage is defined -%}

            <p class="mb-6 font-bold">{{- errorMessage -}}</p>

        {%- endif -%}

    </form>

    <p>
        <a href="{{- url('reset-password') -}}" class="underline">Forgot your password?</a>
    </p>

</div>

{%- endblock -%}