{%- extends "_boilerplate/_layouts/generic-page-layout.twig" -%}

{%- block content -%}

<div class="mt-60 mb-60 w-full max-w-xs m-auto bg-blue-600 rounded p-5 text-white-100">
    <form method="post" accept-charset="UTF-8">
    {{- csrfInput() -}}
    {{- actionInput('users/send-password-reset-email') -}}
    {{- redirectInput('') -}}

    <label for="loginName" class="block mb-2">Username or email</label>
    {{- input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
        id: 'loginName',
        class: 'w-full p-2 mb-6 text-black-100 outline-none focus:bg-gray-300',
    }) -}}

    {%- if errors ?? false -%}

        {{- ul(errors, {class: 'errors'}) -}}

    {%- endif -%}

    <button type="submit" class="w-full bg-white-100 hover:opacity-75 text-black-100 font-bold py-2 px-4 rounded">Submit</button>
    
    </form>
</div>

{%- endblock -%}