{%- extends "_boilerplate/_layouts/generic-page-layout.twig" -%}
{% import '_macros/atoms' as render %}

{%- block content -%}

<div class="mt-60 mb-60 p-12 w-full max-w-md m-auto bg-blue-600 p-5 text-white-100">
    <form method="post" accept-charset="UTF-8">
    {{- csrfInput() -}}
    {{- actionInput('users/send-password-reset-email') -}}
    {{- redirectInput('') -}}

    {{- render.atom('input', 'text', {
            placeholder: 'Enter your email',
            id: 'login',
            name: 'loginName',
            label: 'Enter your email',
            required: 'true',
        }) -}}

    {%- if errors ?? false -%}

        {{- ul(errors, {class: 'errors'}) -}}

    {%- endif -%}

    <button type="submit" class="mb-6">
            {{- render.atom('button', 'primary', {
                text: 'Submit',
            }) -}}
    </button>
    
    </form>
</div>

{%- endblock -%}