{% import '_macros/atoms' as render %}

{%- minify -%}

    {%- set utilities = utilities ??? '' -%}

    <div class="flex flex-no-wrap print:hidden {{ utilities -}}">

        {# needs a bit of rework #}

        <a 
            href="https://twitter.com/share?text={{- content.title -}}&url={{- content.url -}}&hashtags=#ntp" title="Share this page on Twitter" 
            data-tag-category="social-share-twitter" 
            data-tag-action="click" 
            data-tag-label="{{- content.url -}}" 
            target="_blank" 
            rel="noreferrer" 
            class="group"
        >
            {{- render.atom('icon', 'fa', {
                icon:  'fab fa-twitter',
                size: 'lg',
                variant: 'circle',
                colour: 'text-' ~ swatch.primary,
            }) -}}
        </a>

        <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{- content.url -}}" title="Share this page on Facebook" 
            data-tag-category="social-share-facebook" 
            data-tag-action="click" 
            data-tag-label="{{- content.url -}}" 
            target="_blank" 
            rel="noreferrer" 
            class="group"
        >
            {{- render.atom('icon', 'fa', {
                icon:  'fab fa-facebook-f',
                size: 'lg',
                variant: 'circle',
                colour: 'text-' ~ swatch.primary,
            }) -}}
        </a>

        <a 
            href="mailto:?subject={{- seomatic.site.identity.genericName }}: {{- content.title -}}&body={{- content.url -}}" title="Email this page" 
            data-tag-category="social-share-email" 
            data-tag-action="click" 
            data-tag-label="{{- content.url -}}" 
            target="_blank" 
            rel="noreferrer" 
            class="group"
        >
            {{- render.atom('icon', 'fa', {
                icon:  'far fa-envelope',
                size: 'lg',
                variant: 'circle',
                colour: 'text-' ~ swatch.primary,
            }) -}}
        </a>

    </div>

{%- endminify -%}
