{% import '_macros/atoms' as render %}

{%- minify -%}

  <div class="flex flex-no-wrap print:hidden">

    <a href="https://twitter.com/share?text={{- content.title -}}&url={{- content.url -}}&hashtags=#ntp" title="Share this page on Twitter" data-tag-category="social" data-tag-action="print" data-tag-label="{{- content.url -}}" target="_blank" rel="noreferrer">
        {{- render.atom('icon', 'fa', {
            icon:  'fab fa-twitter',
            size: 'lg',
            variant: 'circle',
            colour: 'text-' ~ swatch.primary,
        }) -}}
    </a>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{- content.url -}}" title="Share this page on Facebook" data-tag-category="social" data-tag-action="print" data-tag-label="{{- content.url -}}" target="_blank" rel="noreferrer">
        {{- render.atom('icon', 'fa', {
            icon:  'fab fa-facebook-f',
            size: 'lg',
            variant: 'circle',
            colour: 'text-' ~ swatch.primary,
        }) -}}
    </a>

    <a href="mailto:?subject={{- seomatic.site.identity.genericName }}: {{- content.title -}}&body={{- content.url -}}" title="Email this page" data-tag-category="social" data-tag-action="print" data-tag-label="{{- content.url -}}" target="_blank" rel="noreferrer">
        {{- render.atom('icon', 'fa', {
            icon:  'far fa-envelope',
            size: 'lg',
            variant: 'circle',
            colour: 'text-' ~ swatch.primary,
        }) -}}
    </a>

  </div>

{%- endminify -%}
