{% import '_macros/atoms' as render %}

{%- minify -%}

    <div class="flex-grow px-{{- spacing }} w-{{- item.width -}}">

        <div class="py-8 border-b-2 border-{{- swatch.primary }} h-full">

            <span class="font-mono">
                {{- render.atom('text', 'overline', { 
                        content: item.heading,
                        utilities: 'text-' ~ swatch.primary ~ ' mb-4',
                    })
                -}}
            </span>
            
            <div class="prose {{ prose ? prose : '' -}}">
                {{ item.body }}
            </div>   
        </div>
        
    </div>

{%- endminify -%}