{% import '_macros/atoms' as render %}

<div class="grid grid-cols-1 md:grid-cols-2 grid-rows-1 h-full">

    {# TODO: Need border calculations #}

    {% for item in content.items %}

        {% set border = null %}

        {% switch(loop.index) %}

            {% case 1 %}

                {% set border = 'lg:border-r-2' %}

            {% case 2 %}

                {% set border = '' %}

        {% endswitch %}

        <div class="p-10 lg:px-20 flex flex-col justify-start lg:border-dashed lg:border-{{- blockSwatch.secondary }} {{ border -}}">
            <h3 class="text-white-100 text-4xl font-bold mb-4 font-primary">{{- render.atom('text', 'title', { content: item.heading }) -}}</h3>

            <div class="prose prose-grid-sm md:prose-grid {{ content.swatch.label == 'white' ?: 'prose-white' }} font-primary">
                {{- render.atom('text', 'content', { content: item.article }) -}}
            </div>
        </div>

    {% endfor %}

</div>
