{% import '_macros/atoms' as render %}

<address class="text-base leading-6 not-italic">
	<p>
        {{- render.atom('text', 'title', { content: seomatic.site.identity.genericStreetAddress }) -}}
	</p>
	<p class="mt-1">
        {{- render.atom('text', 'title', { content: seomatic.site.identity.genericAddressRegion }) -}}
        {{- render.atom('text', 'title', { content: seomatic.site.identity.genericPostalCode }) -}}
	</p>
</address>
<div class="text-base leading-6 mt-1">
	<p>
		Telephone: <a href="tel:02081444048" title="phone" aria-label="phone">{{ seomatic.site.identity.genericTelephone }}</a>
	</p>
</div>
<div class="text-base leading-6 mt-1">
	<p>
		Email: <a href="mailto:{{ seomatic.site.identity.genericEmail }}" title="email" aria-label="email" class="font-bold">{{ seomatic.site.identity.genericEmail }}</a>
	</p>
</div>
