{% import '_macros/atoms' as render %}

{%- set handbookCheck = handbook is defined -%}

{%- minify -%}
        <div class="w-full {{ handbookCheck == false ? loop.first ? 'pt-10 pb-10 md:pt-16 md:pb-16' : 'my-16' : '' }}">

            <div class="{{ handbookCheck == false ? 'container mx-auto max-w-screen-lg' : '' }}">
                <div class="prose {{ prose ? prose : '' }} {{ content.prose -}} {{ handbookCheck == true ? ' font-primary' : '' }}">
                    {{- render.atom('text', 'content', { content: content.article }) -}}
                </div>
            </div>
        
        </div>

{%- endminify -%}
