{% extends "_boilerplate/_layouts/amp-generic-page-layout.twig" %}

{% if entry is not defined %}
	{% set entrySlug = craft.app.request.getSegment(craft.app.request.getSegments()|length - 1) %}
	{% set entry = craft.entries.slug(entrySlug).one() %}
{% endif %}


{% block headLinks %}
	{{ parent() }}
    <link rel="amphtml" href="{{ entry.url ~ '/amp' }}">
    <link rel="canonical" href="{{ entry.url }}">
{% endblock headLinks %}

{% do seomatic.helper.loadMetadataForUri(entry.uri) %}
{% do seomatic.script.container().include(false) %}

{% block headCss %}
	{{ parent() }}
	{%- switch entry.type -%}

		{%- case "news" -%}

			{{ craft.twigpack.includeFile("@webroot/dist/criticalcss/entry-types/amp_entry--news_critical.min.css") }}

		{%- default -%}

			{{ craft.twigpack.includeFile("@webroot/dist/criticalcss/pages/amp_" ~ craft.app.request.segments | first ~ "_critical.min.css") }}

	{%- endswitch -%}
{% endblock headCss %}

{% block content %}
	{% if entry is defined %}

		{%- switch entry.type -%}

			{%- case "contentPage" -%}

				{%- include '_organisms/entry-types/page--content' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "landingsPage" -%}

				{%- include '_organisms/entry-types/page--landing' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "blogPage" -%}

				{%- include '_organisms/entry-types/page--blog' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "projectsPage" -%}

				{%- include '_organisms/entry-types/page--projects' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "teamPage" -%}

				{%- include '_organisms/entry-types/page--team' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "guidanceReportsPage" -%}

				{%- include '_organisms/entry-types/page--guidancereports' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "blog" -%}

				{%- include '_organisms/entry-types/entry--blog' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "projects" -%}

				{%- include '_organisms/entry-types/entry--project' ignore missing with {
                            content: entry,
                        } -%}

			{%- case "teamMember" -%}

				{%- include '_organisms/entry-types/entry--team-member' ignore missing with {
                            content: entry,
                        } -%}

		{%- endswitch -%}
	{% elseif category is defined %}

		{%- switch category.group -%}

			{%- case "Project Categories" -%}
				{%- include '_organisms/category-types/page--projects' ignore missing with {
                        content: category,
                    } -%}


			{%- case "Team Categories" -%}
				{%- include '_organisms/category-types/page--team' ignore missing with {
                        content: category,
                    } -%}

		{%- endswitch -%}

	{% endif %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}{% endblock bodyJs %}
