{% import '_macros/atoms' as render %}

{%- set teaserImage = entry.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}

{%- minify -%}

<section class="container max-w-screen-lg px-8 mx-auto min-h-80vh flex items-center pt-32 pb-20 md:py-32">
    <div class="w-full md:flex md:flex-row-reverse">
        <div class="w-4/12 mb-6 md:mb-0 mx-auto md:mx-0">
            {{- render.atom('image', 'teaser', { image: teaserImage, alt:teaserImage.title, ratio: 'is1by1 rounded-full'  }) -}}
        </div>
        <div class="w-full md:w-7/12 mr-auto">
            <h1 class="text-{{- colour -}}-600 font-bold leading-snug text-5xl md:text-6xl tracking-tighter pb-8 text-center md:text-left">{{- render.atom('text', 'content', { content: entry.title }) -}}</h1>
            <h2 class="font-medium leading-snug text-lg mt-6 text-gray-800">{{- render.atom('text', 'content', { content: content.bio }) -}}</h2>
            <div class="mt-8">
                {% if content.startWorkingAtPercipio|length %}
                    <span class="block font-medium leading-tight text-xl md:text-xl tracking-tight mb-2 text-gray-800">
                        <b>Days on the job:</b> {{date(now).diff(date(content.startWorkingAtPercipio)).days }}
                    </span>
                {% endif %}
                {% if content.location|length %}
                    <span class="block font-medium leading-tight text-xl md:text-xl tracking-tight mb-2 text-gray-800">
                        <b>Location:</b> {{- render.atom('text', 'content', { content: content.location }) -}}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{%- endminify -%}
