{%- import '_macros/atoms' as render -%}

{%- minify -%}

    {%- set backgroundImage = content.heroImage -%}

    <header class="{{- backgroundImage|length ? 'bg-gray-800' : '' }} w-full min-h-[85vh] py-6 md:py-12 flex items-center justify-center">
        <div class="container max-w-screen-xl mx-auto flex flex-col items-center">
            {# overline #}
            {{- render.atom('text', 'overline', {
                content: content.overline ??? 'Percipio.London',
                utilities: 'mb-8'
            }) -}}

            {# heading #}
            <h1 class="text-center">
                <span class="sr-only">{{- seomatic.site.identity.genericName }}: </span>
                {{- render.atom('text', 'title', {
                    content: content.heading ??? entry.title,
                    color: backgroundImage|length ? 'white' : 'gray-800'
                }) -}}
            </h1>

            {# description #}
            {%- if content.description -%}
                {{- render.atom('text', 'description', {
                    content: content.description,
                    color: backgroundImage|length ? 'white' : 'gray-800',
                    alignment: 'text-center',
                    utilities: 'mt-8'
                }) -}}
            {%- endif -%}

            {# buttons #}
            {%- include '_molecules/buttons/button--group-primary' ignore missing with {
                buttons: content.buttons,
                ga: {
                    category: 'Hero CTA',
                    action: 'click'
                },
                utilities: 'flex flex-wrap justify-center'
            } -%}

            {# @TODO: add background image with a small opacity so the white text will always be readable #}
            {%- if backgroundImage|length -%}

            {%- endif -%}
        </div>
    </header>
{%- endminify -%}
