{% import '_macros/atoms' as render %}

<section class="relative pt-32">

    <div class="container max-w-screen-lg mx-auto py-20">

        <div class="bg-{{- swatch.primary }} border-b-8 border-{{- swatch.secondary }} px-12 py-6">

            <div class="flex">

                <div class="w-4/5">

                    <h1 class="sr-only">
                        {{- seomatic.site.identity.genericName -}} team member: {{- render.atom('text', 'title', { content: content.title }) -}}
                    </h1>

                    {{- render.atom('text', 'overline', {
                            content: member.role,
                        })
                    -}}

                    <h2 class="font-extrabold leading-tight text-6xl text-white-100 max-w-2xl mb-8">
                        {{- render.atom('text', 'title', { content: content.title }) -}}
                    </h2>

                    {{ render.atom('date', 'jobdays', {
                        date: member.startDate,
                        utilities: 'block font-medium text-2xl text-white-100 mb-2'
                    }) }}

                    <span class="block font-medium text-2xl text-white-100">
                        <strong>Location: </strong>
                        {{- content.location -}}
                    </span>

                </div>

                <div class="w-1/5 flex items-center justify-end">

                    <div class="rounded-full w-full h-auto overflow-hidden">
                        {{- render.atom('image', 'teaser', {
                                image: member.teaserImage[0],
                                sizes: ['20vw'],
                                alt: member.teaserImage[0].title,
                                ratio: 'is1by1',
                                placeholders: placeholders,
                            })
                        -}}
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
