{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- set heroImage = content.heroImage|length ? content.heroImage[0] : null -%}

{%- minify -%}
<section class="relative pt-32 w-full {{not heroImage ? 'bg-' ~ swatch.primary ~ ' border-b-8 border-' ~ swatch.secondary : '' }} min-h-3/4 flex items-center overflow-hidden">
	<div class="container max-w-screen-lg mx-auto py-20">

		<div class="{{heroImage ? 'z-2 relative bg-' ~ swatch.primary ~ ' border-b-8 border-' ~ swatch.secondary : '' }} px-12 py-6">

			<h1 class="sr-only">
				{{- seomatic.site.identity.genericName -}}:
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h1>

			<h2 class="font-extrabold leading-tight text-6xl text-white-100 max-w-2xl">
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h2>

			{% if content.description %}
				<div class="max-w-2xl prose prose-lg mt-12 text-white-100">
					{{- render.atom('text', 'content', { content: content.description }) -}}
				</div>
			{% endif %}

            {% if content.buttons %}

                {{- render.atom('button', 'group', {

                    buttons: content.buttons,
                    type: 'primary',
                    utilities: 'mt-12 space-x-4',

                }) -}}

            {% endif %}

		</div>

        {% if heroImage %}
            <div class="absolute inset-0">
                {{- render.atom('image', 'hero', {
                    image: heroImage,
                    placeholders: placeholders,
                    ratio: 'isFilled'
                }) -}}
            </div>
        {% endif %}

	</div>
</section>
{%- endminify -%}
