{%- import '_macros/atoms' as render -%}

{%- minify -%}
    <header class="w-full min-h-[65vh] pt-20 pb-10 md:pb-32 md:pt-44 flex items-center justify-center">
        <div class="flex flex-col items-center text-center max-w-3xl">
            <div class="w-[10%] mb-4">
                {# hero graphic #}
                {%- if content.heroGraphic -%}
                    {{- render.atom('image', 'hero', {
                            image: content.heroGraphic.collect().first(),
                            sizes: ['8rem'],
                            alt: content.title,
                            placeholders: placeholders,
                        })
                    -}}
                {%- endif -%}
            </div>

            {# overline #}
            {{- render.atom('text', 'overline', {
                content: content.overline ??? entry.section.name ??? 'Percipio.London',
                utilities: 'mb-8'
            }) -}}

            {# heading #}
            <h1>
                <span class="sr-only">{{- seomatic.site.identity.genericName }} :</span>
                {{- render.atom('text', 'title', {
                    content: content.heading ??? entry.title,
                    color: 'text-gray-700'
                }) -}}
            </h1>

            {# description #}
            <div class="">
                {%- if content.description -%}
                    {{- render.atom('text', 'description', {
                        content: content.description,
                        color: 'text-gray-500',
                        utilities: 'mt-8',
                        alignment: 'text-center'
                    }) -}}
                {%- endif -%}
            </div>
        </div>
    </header>
{%- endminify -%}
