{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- set heroImage = content.heroImage|length ? content.heroImage[0] : null -%}

{%- minify -%}
<section class="relative w-full min-h-3/4 pt-32 flex items-center overflow-hidden">
	<div class="container px-8 xxl:px-0 max-w-screen-lg mx-auto py-20">

		<div class="z-2 relative max-w-2xl px-12 py-6 bg-{{- swatch.primary }} border-b-8 border-{{- swatch.secondary -}}">

			<h1 class="sr-only">
				{{- seomatic.site.identity.genericName -}}:
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h1>

			<h2 class="font-primary font-extrabold leading-none text-4xl lg:text-6xl text-white-100">
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h2>

			{% if content.description %}
				<div class="prose prose-lg mt-8 md:mt-5 text-white-100">
					{{- render.atom('text', 'content', { content: content.description }) -}}
				</div>
			{% endif %}

            {% if content.buttons %}

                {{- render.atom('button', 'group', {

                    buttons: content.buttons,
                    type: 'primary',
                    utilities: 'mt-6 space-x-4',

                }) -}}

            {% endif %}

		</div>

		<div class="absolute inset-0">
			{{- render.atom('image', 'hero', {
				image: heroImage,
				placeholders: placeholders,
				ratio: 'isFilled'
			}) -}}
		</div>

	</div>
</section>
{%- endminify -%}