{%- import '_macros/atoms' as render -%}

{%- minify -%}

	{%- set categories = categories ??? null -%}

	<section class="relative w-full min-h-3/4 pt-32 flex items-center overflow-hidden">
		<div class="container max-w-screen-lg mx-auto py-20">

			<div class="z-2 relative max-w-2xl px-12 py-6 bg-{{- swatch.primary }} border-b-8 border-{{- swatch.secondary -}}">

				<h1 class="sr-only">
					{{- seomatic.site.identity.genericName -}}:
					{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
				</h1>

				<h2 class="font-primary font-extrabold text-4xl lg:text-6xl leading-tight lg:leading-tight text-white-100">
					{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
				</h2>

				{% if content.description %}
					<div class="prose prose-lg mt-8 md:mt-5 text-white-100">
						{{- render.atom('text', 'content', { content: content.description }) -}}
					</div>
				{% endif %}

				{% if content.buttons %}

					{{- render.atom('button', 'group', {

						buttons: content.buttons,
						type: 'primary',
						utilities: 'mt-6 space-x-4',
						gaCategory: 'hero-cta',
						gaAction: 'click',
						swatch: swatch,
						inverted: false,

					}) -}}

				{% endif %}

				{% if categories|length %}

					{{- render.atom('chip', 'group', {

                        chips: categories,
                        colors: swatch,
                        type: 'skills',

                    }) -}}

				{% endif %}

			</div>

			<div class="absolute inset-0">
				{{- render.atom('image', 'hero', {
					image: content.heroImage[0] ??? null,
					placeholders: placeholders,
					ratio: 'isFilled',
                	utilities: 'object-right md:object-center'
				}) -}}
			</div>

		</div>
	</section>
{%- endminify -%}