{%- import '_macros/atoms' as render -%}

{%- minify -%}
<section class="relative w-full min-h-3/4 flex items-center overflow-hidden">
	<div class="container mx-auto max-w-screen-xl px-8 2xl:px-0">

		<div class="z-2 relative max-w-3xl">
			{{- render.atom('text', 'overline', {
					content: content.overline,
					utilities: 'mb-5 font-mono',
					color: 'text-white'
				})
			-}}

			<h1 class="sr-only">
				{{- seomatic.site.identity.genericName -}}:
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h1>

			<h2 class="font-primary text-3xl lg:text-7xl text-white">
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h2>

			{% if content.buttons %}

					{{- render.atom('button', 'group', {

						buttons: content.buttons,
						type: 'primary-outline',
						utilities: 'mt-10 space-x-4',
						gaCategory: 'hero-cta',
						gaAction: 'click',
						swatch: swatch,
						inverted: false,

					}) -}}

				{% endif %}
		</div>

		<div class="absolute inset-0">
			
			{{- render.atom('video', 'hero', {
				video: content.video[0],
				attributes: 'muted autoplay loop playsinline',
				alt: content.heading ??? entry.title,
				placeholder: content.placeholder[0] ??? placeholders.teaserPlaceholder[0],
				ratio: 'w-full h-full',
				utilities: 'object-cover absolute left-0 top-0 w-full h-full',
			}) -}}

		</div>

	</div>
</section>
{%- endminify -%}