{% import '_macros/atoms' as render %}

<section class="relative pt-32">

    <div class="container max-w-screen-lg mx-auto py-20">

        <div class="bg-{{- swatch.primary }} border-b-4 border-{{- swatch.secondary }} px-12 py-6">

            <h1 class="sr-only">
                {{- seomatic.site.identity.genericName -}}: {{- render.atom('text', 'title', { content: content.heading }) -}}
            </h1>
    
            <h2 class="font-extrabold leading-tight text-6xl text-white-100 max-w-2xl">
                {{- render.atom('text', 'title', { content: content.heading }) -}}
            </h2>
    
            {% if content.description %}
                <div class="max-w-2xl prose-lg mt-12 text-white-100">
                    {{- render.atom('text', 'content', { content: content.description }) -}}
                </div>
            {% endif %}

            {% if content.buttons %}
    
                {{- render.atom('button', 'group', { 
            
                    buttons: content.buttons,
                    type: 'primary',
                    utilities: 'mt-12 space-x-4',
                
                }) -}}

            {% endif %}

        </div>

    </div>

</section>

{#{{ render.atom('date', 'jobdays', { 
                        date: member.startDate,
                        utilities: 'mb-4',
                    }) }}#}