{#
    ### OPTIONS ###
    ---------------

    caption: (STR) -- The caption text - required
    author: (STR) -- The author of the image - optional
    source: (STR) -- The image source - optinal
    id: (STR) -- id for accessibility match with figure - required
    swatch: (OBJ) -- swatch containing primary and secondary colours ( optional )

#}

{% set values = {

    caption: options.caption,
    author: options.author ??? null,
    source: options.source ??? null,
    id: options.id ??? 'now'|date('U'),
    swatch: options.swatch ??? swatch,
    utilities: options.utilities ??? '',

} %}

{% spaceless %}

    <figcaption id="{{- values.id -}}" class="font-mono text-center text-sm text-{{- values.swatch.primary ??? 'red-500' }} border-b-2 italic py-4 bg-white-100 border-{{- values.swatch.secondary ??? 'red-600' }} {{ values.utilities -}}">

        {{- values.caption }}

        {% if values.author and values.source -%}

            &mdash;
            <a href="{{- options.source.url -}}">
                <span>
                    {{- source.author -}}
                </span>
                <span class="inline-block ml-2">
                    <i class="fas fa-external-link-alt"></i>
                </span>
            </a>

        {%- elseif values.author -%}

            &mdash; {{ values.author -}}

        {% endif -%}

    </figcaption>

{% endspaceless %}