{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'teaserImage',
        'blogCategories',
        'authors',
        'authors.teaserImage',
    ])
-%}

{%- set swatchCategory = content.blogCategories[0] ? swatch(content.blogCategories[0].colourSwatch) : swatch -%}
{%- set blog = craft.entries.section('blog').id(['not', entry.id]).with(['teaserImage', 'blogCategories', 'authors']).all() -%}

<div id="content">
	{%- include '_organisms/heroes/hero--blog' ignore missing with {
        content: entry,
    } -%}

	<div class="pt-16">
		<div class="container mx-auto px-8 lg:px-0 max-w-screen-lg">
			<div class="flex items-center">
				<div class="w-24 h-24 rounded-full overflow-hidden flex-shrink-0 flex border-2 border-{{- swatch.secondary }}">
					{% if entry.authors|length > 1 %}
						{% for author in entry.authors %}
							<div class="h-full w-1/{{- entry.authors|length }} relative overflow-hidden">
								<div class="absolute {{ entry.authors|length > 2 ? '-inset-x-full' : '-inset-x-1/2' }} w-{{ entry.authors|length * 100 }}">
									{{- render.atom('image', 'teaser', {
                                        image: author.teaserImage[0],
                                        alt: author.teaserImage[0].title,
                                        ratio: 'is1by1',
                                        placeholders: placeholders,
                                    }) -}}
								</div>
							</div>
						{% endfor %}
					{% endif %}
					{% if entry.authors|length == 1 %}
						{{- render.atom('image', 'teaser', {
                            image: entry.authors[0].teaserImage[0],
                            alt: entry.authors[0].teaserImage[0].title,
                            ratio: 'is1by1',
                            placeholders: placeholders,
                        }) -}}
					{% endif %}
				</div>
				<div class="flex-grow pl-4">
					<div class="flex flex-wrap w-full items-center">
						<div class="flex-grow">
							<p class="font-mono text-gray-800">
								<a href="{{ content.blogCategories[0].url }}" class="text-{{- swatchCategory.primary }} hover:text-{{- swatchCategory.secondary }}">{{ content.blogCategories[0].title }}</a>
								by
								{{ functions.authors(content.authors) }}<br/>
								on
								<time datetime="{{ content.postDate|date('c')}}">{{ content.postDate|date('jS F Y')}}</time>
							</p>
						</div>

						<div class="flex-srhink-0 pt-4 md:pt-8">
							{%- include '_molecules/buttons/buttons--social' with {
                                content: entry,
                            }-%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{%- include '_organisms/builders/content--builder' with {
        content: entry,
    } -%}

	<div class="pt-16">
		<div class="container mx-auto px-8 lg:px-0 max-w-screen-lg">
			<div class="leading-tight">
				{{- render.atom('text', 'overline', {
                            content: 'Want to read more?',
                            utilities: 'text-' ~ swatch.primary ~ ' mb-4',
                        })
                    -}}
				<h2 class="text-5xl font-bold mb-8">
					{{- render.atom('text', 'title', { content: 'Checkout our blogs' }) -}}
				</h2>

				<hr class="h-1 w-32 bg-{{- swatch.primary -}}">

			</div>
		</div>
	</div>

    <div class="-mt-8 md:-mt-20">
        {%- include '_organisms/cards/cards--blog' ignore missing with {
            content: blog,
            type: 'blog',
        } -%}
    </dvi>
</div>
