{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'teaserImage',
        'blogCategories',
        'authors',
        'authors.teaserImage',
    ])
-%}

{%- set swatchCategory = content.blogCategories[0] ? swatch(content.blogCategories[0].colourSwatch) : swatch -%}
{%- set blog = craft.entries.section('blog').id(['not', entry.id]).with(['teaserImage', 'blogCategories', 'authors']).all() -%}

<div id="content">
	{%- include '_organisms/heroes/hero--main' ignore missing with {
        content: entry,
    } -%}

	<div class="pt-16">
		<div class="container mx-auto px-8 lg:px-0 max-w-screen-lg">
			<div class="md:flex items-center">

                <div class="w-full md:w-auto mb-4 md:mb-0 md:flex-shrink-0">
                    {{- render.atom('avatar', 'group', {
                        authors: entry.authors,
                        colour: swatch,
                        utilities: entry.authors|length == 1 ? 'flex' : '',
                    }) -}}
                </div>

				<div class="w-full md:w-auto md:flex-grow md:pl-4">
					<div class="flex flex-wrap w-full items-center">
						<div class="flex-grow">
							<p class="font-mono text-gray-800">
								<a href="{{ content.blogCategories[0].url }}" class="text-{{- swatchCategory.primary }} hover:text-{{- swatchCategory.secondary }}">{{ content.blogCategories[0].title }}</a>
								by
								{{ functions.authors(content.authors) }}<br/>
								on the
								<time datetime="{{ content.postDate|date('c')}}">{{ content.postDate|date('jS F Y')}}</time>
							</p>
						</div>

						<div class="flex-shrink-0 pt-4 md:pt-0">
							{%- include '_molecules/buttons/buttons--social' with {
                                content: entry,
                            }-%}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{%- include '_organisms/builders/content--builder' with {
        content: entry,
    } -%}

	<div class="pt-16">
		<div class="container mx-auto px-8 lg:px-0 max-w-screen-lg">
			<div class="leading-tight">
				{{- render.atom('text', 'overline', {
                            content: 'Want to read more?',
                            utilities: 'text-' ~ swatch.primary ~ ' mb-4',
                        })
                    -}}
				<h2 class="text-5xl font-bold mb-8">
					{{- render.atom('text', 'title', { content: 'Checkout our blogs' }) -}}
				</h2>

				<hr class="h-1 w-32 bg-{{- swatch.primary -}}">

			</div>
		</div>
	</div>

	<div class="-mt-8 md:-mt-20">
		{%- include '_organisms/cards/cards--blog' ignore missing with {
            content: blog,
            type: 'blog',
        } -%}
	</dvi>
</div>
