{%- import '_macros/atoms' as render -%}

{# props #}
{%- set item = {
    body: item.body ??? '',
    image: item.image ??? ''
} -%}
{%- set settings = {
    position: settings.position ??? 'right',
    background: settings.background ??? 'blue-800'
} -%}
{%- set utilities = utilities|default('') -%}

{# custom #}
{%- set style = {
    box: "w-full md:w-[50vw] md:h-[50vw] lg:max-h-[100vh] flex-shrink-0 flex-grow-0"
}-%}

{%- minify -%}
    <article class="md:flex {{ settings.position == 'right' ? 'md:flex-row-reverse' : '' }} {{ utilities }}">
        <div class="bg-{{- settings.background }} relative flex items-center {{ style.box -}}">
            <h2 class="block py-12 px-6 md:p-16 lg:p-20 md:max-h-[50vw] md:overflow-auto">
                {{- render.atom('text', 'h3', {
                    content: item.body,
                    color: 'white',
                }) -}}
            </h2>

            <div class="hidden md:block bg-gradient-to-b from-transparent via-{{- settings.background }} to-{{- settings.background }} absolute bottom-0 left-0 w-full h-5 md:h-16 lg:h-20">&nbsp;</div>
        </div>
        <div class="{{- style.box -}}">
            image
        </div>
    </article>
{%- endminify -%}
