{%- extends '_molecules/grid-items/_grid-item--props' -%}
{%- import '_macros/atoms' as render -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/grid-items/_grid-item--props.twig`

    ### COMPONENTS ###
    ------------------

    ## ATOMS
    text--h2: `_atoms/texts/text--h2.twig`
    text--h4: `_atoms/texts/text--h4.twig`

    ## MOLECULES
    content--prose: `_molecules/content/content--prose.twig`
#}

{# custom #}
{%- set classes = {
    box: "w-full md:w-1/2 flex items-center flex-shrink-0 flex-grow-0"
}-%}

{%- block grid -%}
    {%- minify -%}

        {%- set props = props|merge({
            item: {
                headingCallout: props.item.headingCallout ??? '',
                heading: props.item.heading ??? '',
                body: props.item.body ??? '',
                image: props.item.image ??? ''
            },
            settings: {
                position: props.settings.position ??? 'right',
            }
        }) -%}

        <article class="md:flex {{ props.settings.position == 'right' ? 'md:flex-row-reverse' : '' }} {{ props.utilities -}}">

            <div class="{{- props.settings.position == 'left' ? 'md:pr-10 lg:pr-32' : 'md:pl-10 lg:pl-32' }} {{ classes.box -}}">
                <h2 class="mt-3.5 mb-6">
                    <span class="animate" data-animation="fadeIn">
                        {{- render.atom('text', 'h2', {
                            content: props.item.headingCallout,
                        }) -}}
                    </span>
                </h2>
            </div>

            <div class="{{- classes.box -}}">
                <div class="animate" data-animation="{{- props.settings.position == 'left' ? 'slideInRightToLeft' : 'slideLeftToRight' -}}">
                    <h3 class="mt-3.5 mb-6">
                        {{- render.atom('text', 'h4', {
                            content: props.item.heading,
                            color: 'pink-500'
                        }) -}}
                    </h3>

                    {%- include '_molecules/content/content--prose' ignore missing with {
                        content: props.item.body,
                    } -%}
                </div>
            </div>
        </article>
    {%- endminify -%}
{%- endblock -%}
