{%- import '_macros/atoms' as atom -%}

{# Eager Load categories based on entry types #}
{%- switch entry.type -%}
    {%- case "news" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'newsCategory'
            ]) 
        -%}
    {%- case "project" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'projectCategory'
            ]) 
        -%}
    {%- case "teamMember" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'teamCategory'
            ]) 
        -%}
{%- endswitch -%}

{%- switch content.organisationName -%}
    {%- case "Research School Foundation" -%}
        {%- set color = 'red' -%}
    {%- case "Education Endowment Foundation" -%}
        {%- set color = 'orange' -%}
    {%- case "Harding Hub" -%}
        {%- set color = 'purple' -%}
    {%- case "Percipio Global" -%}
        {%- set color = 'teal' -%}
    {%- case "National Tutoring Programme" -%}
        {%- set color = 'Blue' -%}
    {% default %}
        {%- set color = 'gray' -%}
{%- endswitch -%}

{# Load needed images #}
{%- set teaserImage = content.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}
{%- set news = content.type == 'news' ? true : false -%}


{%- minify -%}
    <div class="md:col-span-1 lg:col-span-3 md:grid grid-cols-2 grid-rows-2 col-span-2 relative h-full w-full mb-8 md:mb-0">

        <div class="relative lg:row-span-2">
            {{- atom.featured_image(teaserImage, teaserImage.title ) -}}
        </div>

        <div class="bg-white-90 p-8 flex flex-col justify-between">
            {%- if news -%}
                <h3 class="font-bold hidden lg:block lg:text-5xl text-black capitalize tracking-wider font-secondary">{{ content.type }}</h3>
                <div class="text-xs leading-tight text-black-100 tracking-wider">
                    <address rel="author" class="text-2xl font-primary font-medium leading-none not-italic mb-0">{{- content.author -}}</address>
                    <time datetime="{{- entry.postDate|date('c') -}}" class="text-xs font-primary font-medium uppercase tracking-wide leading-normal">{{- atom.formatDate(content.postDate) -}}</time>
                </div>
                <div class="mt-6 md:mt-0">
                    <span class="uppercase bg-secondary-500 px-4 py-2 rounded-full font-secondary text-white-100 text-xs tracking-wide font-medium">
                        {{- content.newsCategory[0].title ?? 'No Category' -}}
                    </span>
                </div>
            {%- endif -%}
        </div>

        <div class="bg-primary-500 text-left p-8">
            <h4 class="break-words text-2xl font-secondary text-white-100 font-semibold leading-tight {{ news ? 'mb-4' : '' -}}">
                <a href="{{- content.url -}}">
                    {{- atom.text(content.title) -}}
                </a>
            </h4>
        </div>
        
        {# URL covering entire card #}
            
        <a href="{{- url(alias('@web/' ~ content.uri)) -}}" class="absolute block top-0 left-0 h-full w-full z-1">
            <span class="sr-only">
                {{- "Discover" | t }} {{ atom.text(content.title) }} {{ content.newsCategory[0].title ?? '' -}}
            </span>
        </a>    
        
    </div>
{%- endminify -%}