{%- import '_macros/atoms' as render -%}

{# Eager Load categories based on entry types #}
{#
{%- switch content.type -%}
    {%- case "blog" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'blogCategories'
            ])
        -%}
    {%- case "projects" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'projectCategories'
            ])
        -%}
    {%- case "teamMember" -%}
        {%- do craft.eagerBeaver.eagerLoadElements(entry, [
            'teamCategories'
            ])
        -%}
{%- endswitch -%} #}

{%- if content.type == 'projects' -%}
    {%- switch content.organisationName -%}
        {%- case "Research School Foundation" -%}
            {%- set color = 'red' -%}
        {%- case "Education Endowment Foundation" -%}
            {%- set color = 'orange' -%}
        {%- case "Harding Hub" -%}
            {%- set color = 'purple' -%}
        {%- case "Percipio Global" -%}
            {%- set color = 'teal' -%}
        {%- case "National Tutoring Programme" -%}
            {%- set color = 'blue' -%}
        {%- case "The Sutton Trust" -%}
            {%- set color = 'blue' -%}
        {% default %}
            {%- set color = 'gray' -%}
    {%- endswitch -%}
{%- else -%}
    {%- set color = random(['blue', 'red', 'orange', 'purple', 'teal']) -%}
{%- endif -%}

{# Load needed images #}
{%- set teaserImage = content.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}
{%- set blog = content.type == 'blog' ? true : false -%}

{%- minify -%}
    <div class="z-30 flex flex-col col-span-3 lg:col-span-2 bg-white-100 text-{{- color -}}-600 border-b-8 border-{{- color -}}-600 mb-8 md:mb-0 shadow-md hover:shadow-2xl transition duration-200 ease-in-out">
        <div class="col-span-2">
            <a href="{{- content.url -}}">
                {{- render.atom('image', 'teaser', { image: teaserImage, alt:teaserImage.title, ratio: blog ? 'is4by3' : 'is2by1'  }) -}}
            </a>
        </div>
        <div class="flex flex-col flex-grow justify-between h-full text-left p-8">
            <div class="flex">
                <a href="{{- content.url -}}">
                    {%- switch content.type -%}
                        {%- case "blog" -%}
                            <div class="text-xs leading-tight text-black-100 tracking-wider">
                                <address rel="author" class="break-words text-2xl font-primary font-medium leading-none not-italic mb-1">{{- content.author -}}</address>
                                <time datetime="{{- entry.postDate|date('c') -}}" class="text-xs font-primary mt-6 font-medium uppercase tracking-wide leading-normal">{{- render.formatDate(content.postDate) -}}</time>
                            </div>
                        {%- case "projects" -%}
                            <div class="break-words font-mono text-white mb-1">
                                {{- render.atom('text', 'content', { content: content.organisationName }) -}}
                            </div>
                        {%- case "teamMember" -%}
                            <div class="break-words font-mono text-white mb-1">
                                {{- render.atom('text', 'content', { content: content.teamMemberRole }) -}}
                            </div>
                    {%- endswitch -%}
                    <div class="break-words text-4xl text-white font-extrabold mb-5">
                        {{- render.atom('text', 'content', { content: content.title }) -}}
                    </div>
                    <div class="break-words text-lg font-secondary text-white leading-relaxed mb-8">
                        {{- render.atom('text', 'content', { content: content.description }) -}}
                    </div>
                </a>
            </div>
            <div class="flex">
                <div class="mt-auto">
                    <div class="flex flex-wrap">
                        {%- switch entry.type -%}
                            {%- case "blog" -%}
                                {%- for category in content.blogCategories.all() -%}
                                    <a href="{{- category.url -}}" alt="{{- category.title -}}">
                                        <span class="bg-{{- color -}}-700 mt-2 mr-2 px-4 py-2 rounded-full font-secondary text-white-100 text-xs tracking-wide font-medium">
                                            {{- content.blogCategories[0].title ?? 'No Category' -}}
                                        </span>
                                    </a>
                                 {%- endfor -%}
                            {%- case "projects" -%}
                                {%- for category in content.projectCategories.all() -%}
                                    <a href="{{- category.url -}}" alt="{{- category.title -}}">
                                        <span class="bg-{{- color -}}-700 mt-2  mr-2 px-4 py-2 rounded-full font-secondary text-white-100 text-xs tracking-wide font-medium">
                                            {{- category.title -}}
                                        </span>
                                    </a>
                                {%- endfor -%}
                            {%- case "teamMember" -%}
                                {%- for category in content.teamCategories.all() -%}
                                    <a href="{{- category.url -}}" alt="{{- category.title -}}" class="my-3">
                                        <span class="bg-{{- color -}}-700 mr-2 px-4 py-2 rounded-full font-secondary text-white-100 text-xs tracking-wide font-medium">
                                            {{- category.title -}}
                                        </span>
                                    </a>
                                {%- endfor -%}
                        {%- endswitch -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endminify -%}