{%- import '_macros/atoms' as atom -%}

{# Eager Load categories based on entry types #}
{%- if entry.type == 'news' -%}
    {%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'newsCategory'
        ]) 
    -%}
{%- endif -%}

{# Load needed images #}
{%- set teaserImage = content.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}
{%- set news = content.type == 'news' ? true : false -%}
{%- set project = content.type == 'projects' ? true : false -%}

{%- if content.type == 'projects' -%}
    {%- switch content.organisationName -%}
        {%- case "Research School Foundation" -%}
            {%- set color = 'red' -%}
        {%- case "Education Endowment Foundation" -%}
            {%- set color = 'orange' -%}
        {%- case "Harding Hub" -%}
            {%- set color = 'purple' -%}
        {%- case "Percipio Global" -%}
            {%- set color = 'teal' -%}
        {%- case "National Tutoring Programme" -%}
            {%- set color = 'blue' -%}
        {%- case "The Sutton Trust" -%}
            {%- set color = 'blue' -%}
        {% default %}
            {%- set color = 'gray' -%}
    {%- endswitch -%}
{%- else -%}
    {%- set color = random(['blue', 'red', 'orange', 'purple', 'teal']) -%}
{%- endif -%}


{%- minify -%}
    <div class="bg-{{color}}-500 text-white md:grid grid-cols-2 grid-cols-2 grid-rows-1 md:col-span-2 lg:col-span-4 relative h-full w-full mb-8 md:mb-0 shadow-md hover:shadow-2xl transition duration-200 ease-in-out">
        
        <div class="col-span-2">
            {{- atom.featured_image(teaserImage, teaserImage.title, 'is2by1' ) -}}
        </div>

        <div class="col-span-2 text-left p-8">
            <a href="{{- content.url -}}">
                {%- if news -%}
                    <div class="text-xs leading-tight text-black-100 tracking-wider">
                        <address rel="author" class="text-2xl font-primary font-medium leading-none not-italic mb-1">{{- content.author -}}</address>
                        <time datetime="{{- entry.postDate|date('c') -}}" class="text-xs font-primary mt-6 font-medium uppercase tracking-wide leading-normal">{{- atom.formatDate(content.postDate) -}}</time>
                    </div>
                {%- else -%}
                    <h6 class="break-words font-mono text-white mb-1">
                        {{- atom.text(content.organisationName) -}}
                    </h6>
                {%- endif -%}
               
                <h4 class="break-words text-4xl text-white font-extrabold mb-5">
                        {{- atom.text(content.title) -}}
                </h4>
                <h5 class="break-words text-lg font-secondary text-white leading-relaxed {{ news ? 'mb-4' : '' -}}">
                        {{- atom.text(content.description) -}}
                </h5>
                <div class="mt-10 md:mt-16">
                    {%- if news -%}
                        <span class="bg-{{color}}-700 mr-2 px-4 py-2 rounded-full font-secondary text-white text-xs tracking-wide font-medium">
                            {{- content.newsCategory[0].title ?? 'No Category' }}
                        </span>
                    {%- else -%}
                        {%- for category in content.projectCategory -%}
                            <span class="bg-{{color}}-700 mr-2 px-4 py-2 rounded-full font-secondary text-white text-xs tracking-wide font-medium">
                                {{- category.title -}}
                            </span>
                        {%- endfor -%}
                    {%- endif -%}
                </div>
            </a>
        </div>
        
        {# URL covering entire card #}
            
        <a href="{{- url(alias('@web/' ~ content.uri)) -}}" class="absolute block top-0 left-0 h-full w-full z-1">
            <span class="sr-only">
                {{- "Discover" | t }} {{ atom.text(content.title) }} {{ content.newsCategory[0].title ?? '' -}}
            </span>
        </a>    
        
    </div>
{%- endminify -%}