{%- import '_macros/atoms' as atom -%}

{# Load needed images #}
{%- set teaserImage = content.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}
{%- set blog = content.type == 'blog' ? true : false -%}
{%- set color = random(['blue', 'red', 'orange', 'purple', 'teal']) -%}


{%- minify -%}
    <div class="flex flex-col col-span-3 lg:col-span-2 bg-white-100 text-{{- color -}}-600 border-b-8 border-{{- color -}}-600 mb-8 md:mb-0 shadow-md hover:shadow-2xl transition duration-200 ease-in-out">
        <div class="relative">
            <a href="{{- content.url -}}">
                {{- atom.teaser_image(teaserImage, teaserImage.title, blog ? 'is4by3' : 'is2by1' ) -}}
            </a>
        </div>
        <div class="flex flex-col flex-grow justify-between h-full text-left p-8">
            <div class="flex">
                <a href="{{- content.url -}}">
                        <div class="break-words font-mono mb-1">
                            {{- atom.text(content.teamMemberRole) -}}
                        </div>
                    <div class="break-words text-4xl font-extrabold mb-5 text-gray-800">
                        {{- atom.text(content.title) -}}
                    </div>
                    <div class="break-words text-lg font-secondary leading-relaxed mb-8 text-gray-800">
                        {{- atom.text(content.description) -}}
                    </div>
                </a>
            </div>
            <div class="flex">
                <div class="mt-auto">
                    <div class="flex flex-wrap">
                        {%- for category in content.teamCategories -%}
                            <a href="{{ category.url }}" alt="{{ category.title}}" class="my-3">
                                <span class="bg-{{color}}-600 mr-2 px-4 py-2 rounded-full font-secondary text-white-100 text-xs tracking-wide font-medium">
                                    {{- category.title -}}
                                </span>
                            </a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>  
    </div>
{%- endminify -%}