{% import '_macros/atoms' as render %}
{% import '_macros/functions' as function %}

{% set colors = {
    'primary': null,
    'secondary': null,
} %}

{% for color in member.colourSwatch.color | slice(0,2) %}
    {% set key = loop.first ? 'primary' : 'secondary' %}
    {% set colors = colors|merge({ (key) : color.class }) %}
{% endfor %}

<div class="{{- utilities -}}">

    <div class="relative bg-{{- colors.primary }} border-b-4 border-{{- colors.secondary -}}">

        {{- render.atom('image', 'teaser', { 
                image: member.teaserImage[0], 
                sizes: sizes,
                alt: member.teaserImage[0].title, 
                ratio: 'is4by3', 
                placeholders: placeholders,
            })
        -}}

        <div class="p-8">

            {{- render.atom('text', 'overline', { 
                    content: member.role,
                })
            -}}

            {{- render.atom('text', 'card-title', { 
                    content: member.title,
                })
            -}}

            {{- render.atom('chip', 'group', { 
    
                chips: member.skillCategories,
                colors: colors,
                type: 'skills',
                utilities: 'mt-12 mb-0 space-x-2',
            
            }) -}}

        </div>

        <a href="{{- member.url -}}" class="absolute inset-0">
            <span class="sr-only">Read more about {{- member.title -}}</span>
        </a>

    </div>

</div>