{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- set swatchVacancy = swatch(content.colourSwatch) -%}

{%- minify -%}
<div class="container mx-auto max-w-screen-lg">
    <div class="relative group">
        <div class="bg-white-100">
            <div class="py-8 border-b-8 border-{{- swatchVacancy.primary }} group-hover:border-{{- swatchVacancy.primary }} relative z-1">
                <div class="flex w-full items-center">
                    <div class="flex-grow pr-2">
                        <div class="-mb-4">
                            {{- render.atom('text', 'card-title', {
                                content: content.title,
                                utilities: 'group-hover:text-white-100 transition duration-200 delay-300 ease-in-out',
                                colour: 'text-gray-800'
                            }) -}}
                            <div class="max-w-2xl prose md:prose-xl mt-4 text-gray-800 group-hover:text-white-100 transition duration-200 delay-300 ease-in-out">
                                {{- render.atom('text', 'content', { content: content.description }) -}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="absolute block left-1/2 top-0 bg-{{- swatchVacancy.primary }} transform -translate-x-full-1/2 group-hover:-translate-x-1/2 transition duration-1000 ease-blog w-screen h-full"></span>

        </div>

        <a 
            href="{{- content.url -}}" 
            data-tag-category="card-blog" 
            data-tag-action="click" 
            data-tag-label="{{- content.url -}}" 
            class="absolute inset-0 z-1"
        >
            <span class="sr-only">Open vacancy for a {{- content.title -}}</span>
        </a>
    </div>
</div>
{%- endminify -%}
