{%- import '_macros/atoms' as render -%}

{%- set swatch = swatch(content.colourSwatch) -%}
{%- set utilities = utilities ?? '' %}
{%- set size = size ??? 'small' %}

{%- minify -%}
<div class="{{- utilities -}}">
    <div class="relative {{ size == 'large' ? 'min-h-90vh' : '' -}}">

        <div class="card-cta absolute z-10 bottom-4 left-0 lg:bottom-14 lg:left-auto lg:right-14 w-4/5 lg:w-auto text-right lg:text-left md:ml-14 lg:ml-0">
            <div class="prose-text-shadow">
                {{- render.atom('button', 'link', {
                    url: content.url,
                    text: "View case study",
                    gaCategory: "card-project",
                    gaAction: "click",
                    gaLabel: content.url,
                    swatch: swatch,
                    icon: 'fas fa-long-arrow-alt-right'
                }) -}}
            </div>
            {# {{- render.atom('button', 'secondary', {
                url: content.url,
                text: "View case study",
                gaCategory: "card-project",
                gaAction: "click",
                gaLabel: content.url,
                swatch: swatch,
            }) -}} #}
        </div>

        <div class="card-cta absolute z-1 group bg-{{- swatch.primary }} border-b-8 border-{{- swatch.secondary }} bottom-14 left-0 md:left-14 p-6 w-4/5 lg:w-1/3">
            {{- render.atom('text', 'overline', {
                    content: content.client[0].title,
                    utilities: 'font-mono text-white-100',
                })
            -}}

            {{- render.atom('text', 'card-title', { content: content.title }) -}}

            {{- render.atom('chip', 'group', {

                chips: content.projectCategories,
                colors: swatch,
                type: 'skills',
                utilities: 'mt-0 mb-0',

            }) -}}

            <a
                href="{{- content.url -}}"
                data-tag-category="card-project"
                data-tag-action="click"
                data-tag-label="{{- content.url -}}"
                class="absolute inset-0 z-1"
            >
                <span class="sr-only">Read more about {{- content.title -}}</span>
            </a>

        </div>

        <div class="teaser overflow-hidden w-full {{ size == 'large' ? 'h-90vh' : 'h-full' -}}">
            {{- render.atom('image', 'teaser', {
                image: content.teaserImage[0],
                alt: content.teaserImage[0].title,
                ratio: size == 'large' ? 'isFilled' : 'is1by1 md:is16by9 lg:is1by1',
                placeholders: placeholders,
                animation: 'scale',
                utilities: 'object-left md:object-center'
            }) -}}
        </div>

    </div>
</div>
{%- endminify -%}
