{%- import '_macros/atoms' as render -%}

{%- set swatch = swatch(content.colourSwatch) -%}
{%- set utilities = utilities ?? '' %}
{%- set size = size ??? 'small' %}

{%- minify -%}
<div class="{{- utilities -}}">
    <div class="relative {{ size == 'large' ? 'min-h-90vh' : '' -}}">
        {# md:left-14  #}
        <div class="card-cta container mx-auto max-w-screen-2xl">
            <div class="absolute z-1 group w-4/5 lg:w-1/3 bottom-0">
            
                <div class="relative bg-{{- swatch.primary }} border-b-8 border-{{- swatch.secondary }} bottom-14 left-0 p-6">
                    {{- render.atom('text', 'overline', {
                            content: content.client[0].title,
                            utilities: 'font-mono text-white-100',
                        })
                    -}}

                    {{- render.atom('text', 'card-title', { content: content.title }) -}}

                    {{- render.atom('chip', 'group', {

                        chips: content.projectCategories,
                        colors: swatch,
                        type: 'skills',
                        utilities: 'mt-0 mb-0',

                    }) -}}

                    <div class="mt-8">

                        {{- render.atom('button', 'link', {
                            text: "View case study",
                            gaCategory: "card-project",
                            gaAction: "click",
                            gaLabel: content.url,
                            swatch: swatch,
                            icon: 'fas fa-long-arrow-alt-right'
                        }) -}}

                    </div>

                    <a
                        href="{{- content.url -}}"
                        data-tag-category="card-project"
                        data-tag-action="click"
                        data-tag-label="{{- content.url -}}"
                        class="absolute inset-0 z-1"
                    >
                        <span class="sr-only">A case study about {{ content.title -}}</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="teaser overflow-hidden w-full {{ size == 'large' ? 'h-90vh' : 'h-full' -}}">
            {{- render.atom('image', 'teaser', {
                image: content.teaserImage[0],
                alt: content.teaserImage[0].title,
                ratio: size == 'large' ? 'isFilled' : 'is1by1 md:is16by9 lg:is1by1',
                placeholders: placeholders,
                animation: 'scale',
                sizes: ['100vw'],
                utilities: 'object-right md:object-center'
            }) -}}
        </div>

    </div>
</div>
{%- endminify -%}
