{% import '_macros/atoms' as render %}
{% import '_macros/functions' as function %}

{% set colors = {
    'primary': null,
    'secondary': null,
} %}

{% for color in member.colourSwatch.color | slice(0,2) %}
    {% set key = loop.first ? 'primary' : 'secondary' %}
    {% set colors = colors|merge({ (key) : color.class }) %}
{% endfor %}

<div class="group {{ utilities -}}">

    <div class="relative h-full shadow-lg bg-white transition-all duration-500 ease-in-out group-hover:shadow-2xl border-b-8 border-{{- colors.primary }} group-hover:border-{{- colors.secondary -}}">

        <div class="relative">
            {{- render.atom('image', 'teaser', {
                    image: member.teaserImage[0] ??? placeholders.teaserPlaceholder,
                    sizes: sizes ??? sizes,
                    alt: member.title,
                    ratio: 'is4by3 bg-white',
                    placeholders: placeholders,
                })
            -}}
        </div>

        <div class="p-8">

            {{- render.atom('text', 'overline', {
                    content: member.role,
                    utilities: 'text-' ~ colors.primary,
                })
            -}}

            {{- render.atom('text', 'card-title', {
                    content: member.title,
                    color: 'text-black-100',
                })
            -}}

            {{- render.atom('chip', 'group', {

                chips: member.skillCategories,
                colors: colors,
                type: 'skills',
                inverted: true,
                utilities: 'mt-12 mb-0',

            }) -}}

        </div>

        <a
            href="{{- member.url -}}"
            data-tag-category="card-member"
            data-tag-action="click"
            data-tag-label="{{- member.url -}}"
            class="absolute inset-0 z-1"
        >
            <span class="sr-only">Read more about {{- member.title -}}</span>
        </a>

    </div>

</div>
