{% extends "_atoms/buttons/button--variables" %}

{% block button %}

    {%- minify -%}

        <a
            {{ values.url ? 'href=' ~ values.url : '' }}
            {{ values.gaCategory ? 'data-tag-category=' ~ values.gaCategory : '' }}
            {{ values.gaAction ? 'data-tag-action=' ~ values.gaAction : '' }}
            {{ values.gaLabel ? 'data-tag-label=' ~ values.gaLabel : '' }}
            {{ values.target ? 'target=' ~ values.target : '' }}
            aria-label="{{- values.text -}}"
            class="inline-flex px-8 py-4 font-bold text-lg text-white-100 bg-{{- values.swatch ? values.swatch.primary : '' }} hover:bg-{{- values.swatch ? values.swatch.secondary : '' }} {{ values.utilities ? values.utilities : '' -}}"
        >
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}
