{% extends "_atoms/buttons/button--variables" %}

{% block button %}

    {%- minify -%}

        <a 
            {{ values.url ? 'href="' ~ values.url ~ '"': '' }} 
            {{ values.gaCategory ? 'data-tag-category=' ~ values.gaCategory : '' }}
            {{ values.gaAction ? 'data-tag-action=' ~ values.gaAction : '' }}
            {{ values.gaLabel ? 'data-tag-label=' ~ values.gaLabel : '' }}
            class="inline-flex {{ values.utility ? values.utility : '' -}}"
        >
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}

