{%- extends "_atoms/buttons/button--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    active: (BOOL) -- Set active button state 
    disabled: (BOOL) -- Set disabled button state
    ga: (OBJ) -- GTM Tracking object
    icon: (OBJ) -- the icon for the button ( optional )
    target: (STR) -- add _blank if you want to open the button in a new window
    text: (STR) -- the text for the button
    url: (STR) -- the url for the button
    utlities: (STR) -- the button utility from TW for the last button in the loop
#}

{%- import '_macros/functions' as parse -%}

{%- block button -%}

    {%- minify -%}

        <a
            href="{{- values.url -}}"
            class="
                capitalize inline-flex items-center justify-center self-start px-4 py-3 text-base font-primary font-bold text-white-100 bg-pink-600 h-12
                transition-colors ease-in-out duration-300
                hover:bg-pink-800 focus:bg-pink-600
                {{ values.utilities ? values.utilities : '' -}}
                {{ values.active ? 'bg-pink-600' : '' }}
                {{ values.disabled ? 'pointer-events-none bg-opacity-10 text-opacity-20' : '' }}
                {{ values.utilities ? values.utilities : '' -}}
            "
            aria-label="{{- values.text -}}"
            title="{{- values.text -}}"
            {{ parse.ga(options.ga) -}}
        >

            <span class="text-base overflow-hidden overflow-ellipsis">
                {{- values.text -}}
            </span>

            {%- if values.icon.type -%}
                {{- parse.icon(values.icon) -}}
            {%- endif -%}

        </a>

    {%- endminify -%}

{%- endblock -%}
