{%- extends "_atoms/buttons/button--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (STR) -- the icon for the button ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    target: (STR) -- add _blank if you want to open the button in a new window
    gaCategory: (STR) -- add a category for GTM tracking
    gaAction: (STR) -- add an acction to GTM. This can be click / download / submit
    gaLabel: (STR) -- add a value to the category for GTM tracking
#}

{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- block button -%}

    {%- minify -%}

        <a
            {{ values.url ? 'href=' ~ values.url : '' }}
            {{ values.gaCategory ? 'data-tag-category=' ~ values.gaCategory : '' }}
            {{ values.gaAction ? 'data-tag-action=' ~ values.gaAction : '' }}
            {{ values.gaLabel ? 'data-tag-label=' ~ values.gaLabel : '' }}
            {{ values.target ? 'target=' ~ values.target : '' }}
            aria-label="{{- values.text -}}"
            title="{{- values.text -}}"
            class="inline-flex items-center space-x-3.5 px-4 py-3 font-bold text-white-100 transition ease-in-out duration-300 bg-pink-600 hover:bg-pink-800 focus:bg-pink-600 active:bg-pink-600 {{ values.utilities ? values.utilities : '' -}}"
        >

            <span class="text-base overflow-hidden overflow-ellipsis">
                {{- values.text -}}
            </span>

        </a>

    {%- endminify -%}

{%- endblock -%}