{%- extends "_atoms/buttons/button--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (OBJ) -- the icon for the button ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    target: (STR) -- add _blank if you want to open the button in a new window
    ga: (OBJ) -- GTM Tracking object
#}

{%- import '_macros/functions' as parse -%}

{%- block button -%}
    <a
        href="{{- values.url -}}"
        class="
            capitalize inline-flex items-center justify-center self-start px-4 py-3 text-base font-bold
            transition-colors ease-in-out duration-300
            {{ values.active ? 'text-pink-600' : '' }}
            border-2 border-pink-600 text-pink-600 hover:bg-pink-600 hover:bg-opacity-10
            {{ values.disabled ? 'pointer-events-none bg-opacity-10 text-opacity-20 border-opacity-20' : '' }}
        "
        title="{{- values.text -}}"
        aria-label="{{- values.text -}}"
        {{ parse.ga(values.ga) -}}
    >

        <span class="inline-flex">
            {{- values.text -}}
        </span>

        {%- if values.icon.type -%}
            {{- parse.icon(values.icon) -}}
        {%- endif -%}

    </a>
{%- endblock -%}
