{%- extends "_atoms/buttons/button--props" -%}

{#
    ### PROPS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (STR) -- the icon for the button ( optional )
    iconPosition: (STR) -- the position of the icon ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    target: (STR) -- add _blank if you want to open the button in a new window
    gaCategory: (STR) -- add a category for GTM tracking
    gaAction: (STR) -- add an acction to GTM. This can be click / download / submit
    gaLabel: (STR) -- add a value to the category for GTM tracking
#}

{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- block button -%}

    {%- set classes = {
        '_default': 'inline-flex text-center rounded-full',
        'color': 'text-blue-500 border-blue-500 border',
        'focus' : 'focus:outline focus:outline-4 focus:outline-blue-500/30',
        'font': 'font-primary text-sm',
        'hover': 'hover:border-blue-700 hover:text-blue-700',
        'padding': 'py-3 px-7'
    }-%}

    {%- minify -%}

        <a
            {{ props.url ? 'href=' ~ props.url : '' }}
            {{ props.gaCategory ? 'data-tag-category=' ~ props.gaCategory : '' }}
            {{ props.gaAction ? 'data-tag-action=' ~ props.gaAction : '' }}
            {{ props.gaLabel ? 'data-tag-label=' ~ props.gaLabel : '' }}
            {{ props.target ? 'target=' ~ props.target : '' }}
            aria-label="{{- props.text -}}"
            class="{{ classes._default }} {{ classes.color }} {{ classes.focus }} {{ classes.font }} {{ classes.hover }} {{ classes.padding }} {{ props.utilities }}"
        >
            <span class="sr-only">
                {{- props.target == '_self' ? 'Go to: ' : 'Go to external page: ' -}}
            </span>

            <span>
                {{- props.text -}}
            </span>

            {%- if props.target == '_blank' -%}

                {{- render.atom('icon', 'fa', {
                    icon:  functions.fa_icon_lut('external-link'),
                    size: 'md',
                    parentcss: 'ml-2 inline-block',
                    colour: 'text-white',
                }) -}}

            {%- endif -%}

        </a>

    {%- endminify -%}

{%- endblock -%}
