{% extends "_atoms/buttons/button--variables" %}

{#
    ### OPTIONS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (STR) -- the icon for the button ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    swatch: (STR) -- add a colour swatch to button

#}

{% block button %}

    {%- minify -%}

        <a {{ values.url ? 'href=' ~ values.url : '' }} class="inline-flex border-2 px-8 py-4 font-extrabold text-lg border-{{- values.swatch ? values.swatch.primary : '' }} text-{{- values.swatch ? values.swatch.primary : 'white-100' }} hover:text-white-100 hover:bg-{{- values.swatch ? values.swatch.primary : '' }} {{ values.utilities ? values.utilities : '' -}}">
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}
