{%- extends "_atoms/buttons/button--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (OBJ) -- the icon for the button ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    target: (STR) -- add _blank if you want to open the button in a new window
    ga: (OBJ) -- GTM Tracking object
#}

{%- import '_macros/functions' as parse -%}

{%- block button -%}

    {%- minify -%}

        <a
            href="{{- values.url -}}"
            class="
                inline-flex items-center flex-grow-0 justify-center px-4 py-3 font-bold text-white-100 transition ease-in-out duration-300 bg-blue-600
                hover:bg-blue-800 focus:bg-blue-600
                {{ values.active ? 'bg-blue-600' : '' }}
                {{ values.disabled ? 'pointer-events-none bg-opacity-10 text-opacity-20' : '' }}
                {{ values.utilities ? values.utilities : '' -}}
            "
            aria-label="{{- values.text -}}"
            title="{{- values.text -}}"
            {{ parse.ga(options.ga) -}}
        >

            <span class="text-base overflow-hidden overflow-ellipsis">
                {{- values.text -}}
            </span>

            {%- if values.icon.type -%}
                {{- parse.icon(values.icon) -}}
            {%- endif -%}

        </a>

    {%- endminify -%}

{%- endblock -%}
