{% extends "_atoms/buttons/button--variables" %}

{#
    ### OPTIONS ###
    ---------------

    url: (STR) -- the url for the button
    text: (STR) -- the text for the button
    icon: (STR) -- the icon for the button ( optional )
    utlities: (STR) -- the button utility from TW for the last button in the loop
    swatch: (STR) -- add a colour swatch to button
    size: (STR) -- define a button size

#}

{% block button %}

    {%- minify -%}

        {%- set sizes = {
            'small': 'px-4 py-2',
            'large': 'px-8 py-4',
        } -%}

        {%- set inverted = false -%}
        {% if options.inverted is defined and options.inverted is not null %}
            {%- set inverted =  options.inverted -%}
        {% endif %}
        {%- set primary = values.swatch ? values.swatch.primary : 'blue-600' -%}

        {%- set hoverUtilites = inverted ? "hover:text-white-100 hover:bg-" ~ primary : "hover:text-" ~ primary ~  " hover:bg-white-100" -%}

        <a
            {{ values.url ? 'href=' ~ values.url : '' }}
            {{ values.gaCategory ? 'data-tag-category=' ~ values.gaCategory : '' }}
            {{ values.gaAction ? 'data-tag-action=' ~ values.gaAction : '' }}
            {{ values.gaLabel ? 'data-tag-label=' ~ values.gaLabel : '' }}
            {{ values.target ? 'target=' ~ values.target : '' }}
            aria-label="{{- values.text -}}"
            class="inline-flex border-2 {{ sizes[values.size] is defined ? sizes[values.size] : sizes['large'] }} font-extrabold text-lg border-{{- values.swatch ? values.swatch.primary : '' }} text-{{- values.swatch ? values.swatch.primary : 'white-100' }} {{ hoverUtilites }} {{ values.utilities ? values.utilities : '' -}}"
        >
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}
