{%- import '_macros/functions' as parse -%}

{%- set values = {
    target: options.content.target[0],
    cta: options.cta,
    active: options.active ?? false,
    disabled: options.disabled ?? false,
    ga: {
        category: options.ga.category ?? null,
        action: options.ga.action ?? null,
        label: options.ga.label ?? null,
    }
} -%}

<a 
    href="{{- values.target.url -}}"
    class="
        capitalize inline-flex items-center justify-center text-base font-bold py-3 px-4 transition-colors 
        {{ values.active and not values.cta ? 'text-blue-600' : '' }} 
        {{ values.cta ? 'border-2 border-blue-600 text-blue-600 hover:bg-blue-600 hover:bg-opacity-10' : 'hover:text-blue-600' }} 
        {{ values.disabled and values.cta ? 'pointer-events-none bg-opacity-10 text-opacity-20 border-opacity-20' : '' }}    
    "
    role="menuitem"
    {{ values.active ? 'aria-current="page"' : '' }}
    {{ parse.ga(options.ga) -}}
>
    <span class="inline-block {{ values.active and not values.cta ? 'border-b border-blue-600' : '' -}}">
        {{- values.target.title -}}
    </span>
</a>

{# {%- set isCurrent = craft.app.request.absoluteUrl == values.item.target[0].url ? true : false -%}

{%- if values.item.target[0].type.handle == 'contactPage' -%}
    <a 
        href="{{- values.item.target[0].url -}}"
        class="group relative mt-3 lg:mt-0 float-right lg:float-none block text-right capitalize text-4xl lg:text-base font-bold border-2 border-blue-600 text-blue-600 transition duration-300"
        role="menuitem"
        tabindex="0"
        aria-current="{{- isCurrent ? 'page' : null -}}"
    >
        <div class="py-3 px-4 absolute z-10 bg-white-100 w-full h-full group-hover:bg-blue-600 group-hover:opacity-10 group-focus:bg-blue-600 group-focus:opacity-20"></div>
        
        <span class="py-3 px-4 relative z-20 flex justify-end items-center">
            {{- values.item.target[0].title -}}
        </span>  
    </a>

{%- else -%}

    <a
        href="{{- values.item.target[0].url -}}"
        class="block w-max ml-auto lg:ml-0 lg:w-auto text-right capitalize text-4xl lg:text-base font-bold"
        title="{{- values.item.target[0].title -}}"
        role="menuitem"
        tabindex="0"
        aria-current="{{- isCurrent ? 'page' : null -}}"
    >
        <span class="py-3 relative z-10 hover:text-blue-800 focus:text-blue-800 transition duration-300 flex justify-end items-center {{ isCurrent ? 'text-blue-600' : 'text-gray-900 text-black-100' -}}">
            {{- values.item.target[0].title -}}

            {%- if isCurrent -%}
                <hr class="absolute mt-10 lg:mt-6 h-0.5 w-full bg-blue-600">
            {%- endif -%}
        </span>
    </a>

{%- endif -%} #}