{%- import '_macros/functions' as parse -%}

{%- set values = {
    ariaLabel: options.ariaLabel ??? null,
    current: options.current ??? false,
    filter: options.filter ??? null,
    ga: options.ga ??? null,
} -%}

{%- minify -%}

    <a
        aria-label="{{- values.ariaLabel -}}"
        href="?filter={{- values.filter.slug -}}"
        class="text-3xl font-primary font-bold text-gray-900 {{ values.current == values.filter.slug ? 'border-b-2 border-blue-600 pb-1' : 'pb-1.5' -}}"
        {{ parse.ga(values.ga) -}}
    >
        {{- values.filter.label -}}
    </a>

{%- endminify -%}