{% import '_macros/atoms' as atom %}
{% import '_macros/utilities' as utility %}

{%- minify -%}
<a class="group border-t border-gray-100 flex justify-between py-8 w-full hover:border-gray-300" href="{{- content.target[0].url -}}">
    <div class="relative">
        <h4 class="text-orange-500 text-base sm:text-4xl group-hover:text-orange-300 trans-button">
            {{- atom.title(content.label) -}}
        </h4>

        <span class="font-normal text-sm text-gray-500">
            {{- atom.text(content.description) }} [{{- content.target[0].size | filesize(1) }} {{ resource.target[0].kind | lower }}]
        </span>
    </div>

    <div class="relative">
        {{- utility.file_icon(content.target[0].kind, content.utilityIcon, 'text-gray-500 group-hover:text-orange-300 trans-button') -}}
    </div>
</a>
{%- endminify -%}