{% import '_macros/atoms' as atom %}

{%- minify -%}
    <div class="flex flex-col md:flex-row my-12 px-4 lg:px-0 lg:mx-16 xl:x-32">
        <div class="w-full md:w-1/3 px-4">
            <div class="border-b-2 border-{{- color -}}-800">
                <div class="font-mono my-4">
                    {{- atom.text(block.trivia1Header) -}}
                </div>
                <div class="pb-5 text-lg text-green-900 leading-relaxed">
                    {{- atom.text(block.trivia1Body) -}}
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/3 px-4">
            <div class="border-b-2 border-{{- color -}}-800">
                <div class="font-mono my-4 ">
                    {{- atom.text(block.trivia2Header) -}}
                </div>
                <div class="pb-5 text-lg text-green-900 leading-relaxed">
                    {{- atom.text(block.trivia2Body) -}}
                </div>
            </div>
        </div>
         <div class="w-full md:w-1/3 px-4">
            <div class="border-b-2 border-{{- color -}}-800">
                <div class="font-mono my-4 ">
                    {{- atom.text(block.trivia3Header) -}}
                </div>
                <div class="pb-5 text-lg text-green-900 leading-relaxed">
                    {{- atom.text(block.trivia3Body) -}}
                </div>
            </div>
        </div>

    
    </div>

{%- endminify -%}