{%- import '_macros/atoms' as render -%}

{%- set pageInfo = pageInfo ??? null -%}
{%- set utilities = utilities ??? null -%}

{%- minify -%}

    <div class="flex items-center justify-center space-x-3 {{ utilities -}}">

        {%- if pageInfo.prevUrl %}
            {{- render.atom('button', 'secondary-outline', {
                text: 'Previous',
                url: pageInfo.prevUrl,
                ga: {
                    category: 'navigation',
                    action: 'click',
                    label: 'test'
                },
                icon: {
                    type: 'far fa-long-arrow-left',
                    position: 'left',
                }
            }) -}}
        {%- endif -%}

        <nav 
            role="navigation" 
            aria-label="Pagination Navigation"
        >

            <ul class="flex items-center space-x-3">
                {%- if pageInfo.currentPage != 1 and pageInfo.currentPage - 1 != 1  -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Page 1',
                            ga: {
                                category: 'pagination',
                                action: 'click',
                                label: 'Pagination item'
                            },
                            page: 1,
                            url: pageInfo.firstUrl
                        })
                    -}}
                {%- endif -%}

                {%- if pageInfo.currentPage != 2 and pageInfo.currentPage - 1 != 2 and pageInfo.currentPage != 1 -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Separator',
                            separator: true
                        })
                    -}}
                {%- endif -%}

                {%- for page, url in pageInfo.getPrevUrls(1) -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Page ' ~ page,
                            ga: {
                                category: 'pagination',
                                action: 'click',
                                label: 'Pagination item'
                            },
                            page: page,
                            url: url
                        })
                    -}}
                {%- endfor -%}

                {{- render.atom('listitem', 'pagination', {
                        ariaLabel: 'Page ' ~ pageInfo.currentPage ~  ', Current Page',
                        ariaCurrent: true,
                        current: true,
                        ga: {
                            category: 'pagination',
                            action: 'click',
                            label: 'Pagination item'
                        },
                        page: pageInfo.currentPage,
                    })
                -}}

                {%- for page, url in pageInfo.getNextUrls(1) -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Page ' ~ page,
                            ga: {
                                category: 'pagination',
                                action: 'click',
                                label: 'Pagination item'
                            },
                            page: page,
                            url: url
                        })
                    -}}
                {%- endfor -%}


                {%- if pageInfo.currentPage + 1 != pageInfo.total and pageInfo.currentPage + 2 != pageInfo.total and pageInfo.currentPage != pageInfo.total -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Separator',
                            separator: true
                        })
                    -}}
                {%- endif -%}

                {%- if pageInfo.currentPage != pageInfo.total and pageInfo.total != pageInfo.currentPage + 1  -%}
                    {{- render.atom('listitem', 'pagination', {
                            ariaLabel: 'Page ' ~ pageInfo.total,
                            ga: {
                                category: 'pagination',
                                action: 'click',
                                label: 'Pagination item'
                            },
                            page: pageInfo.total,
                            url: pageInfo.lastUrl
                        })
                    -}}
                {%- endif -%}
            </ul>

        </nav>

        {%- if pageInfo.nextUrl -%}
            {{- render.atom('button', 'secondary-outline', {
                text: 'Next',
                url: pageInfo.nextUrl,
                ga: {
                    category: 'navigation',
                    action: 'click',
                    label: 'test'
                },
                icon: {
                    type: 'far fa-long-arrow-right',
                }
            }) -}}
        {%- endif -%}

    </div>

{%- endminify -%}