{% import '_macros/atoms' as render %}

<div class="flex -mx-8">

    <div class="w-1/2 px-8">

        <div class="flex flex-col h-full items-start justify-center border-t border-{{- swatch.primary -}}">
    
            <h3 class="break-words font-bold mb-8 text-4xl text-{{- swatch.primary -}}">{{- service.title -}}</h3>

            <div class="prose prose-lg pr-16 mb-8">
                {{- service.description -}}
            </div>
            
            {{- render.atom('button', 'primary', {
                url: service.url,
                text: 'explore',
                utilities: 'flex-grow-0',
                swatch: swatch,
            }) -}}

        </div>

    </div>

    <div class="w-1/2 px-8">

        <a href="{{- service.url -}}" class="group">
            {{- render.atom('image', 'teaser', { 
                    image: service.teaserImage[0] ??? null, 
                    sizes: sizes,
                    alt: service.teaserImage[0].title ??? service.title, 
                    ratio: 'is4by3', 
                    placeholders: placeholders,
                    animation: 'scale',
                })
            -}}
        </a>
    </div>

</div>