{# TODO: Need to parse colours #}
{%- import '_macros/atoms' as render -%}

{%- set navigation = craft.entries.section('navigation')
    .orderBy('postDate')
    .with(['target'])
    .all()
-%}

{%- set swatch = {
    primary: 'pink-600',
    secondary: 'blue-600'
} -%}

<nav 
    id="main-navigation" 
    class="fixed z-50 w-full bg-white transition-shadow duration-500 ease-in-out"
    aria-labelledby="main-navigation"
>

    <div class="container mx-auto max-w-screen-2xl h-28">

        <div class="flex items-center h-full">

            {{- render.atom('link', 'home', { 
                url: baseUrl,
                title: branding.organisationName,
                logo: branding.icon[0].extension == 'svg' ? branding.icon[0] : null ??? null,
                utilities: 'w-16 h-16',
                placeholder: placeholder,
                swatch: swatch,
            }) -}}

            <a href="#page" class="sr-only focus:not-sr-only">
                Skip to content
            </a>

            <div class="hidden lg:flex lg:items-center lg:space-x-10 lg:ml-auto">

                {%- for item in navigation -%}
                    {{- render.atom(
                        'link', 
                        'navigation', 
                        { 
                            content: item,
                            cta: item.target[0].type.handle == 'contactPage' ? true : false,
                            active: craft.app.request.segments | first == item.slug ? true : false,
                            ga: {
                                category: 'navigation',
                                action: 'click',
                                label: item.target[0].title,
                            }
                        }) 
                    -}}
                {%- endfor -%}

            </div>

        </div>

    </div>

</nav>

{# <nav id="top-nav" class="fixed z-20 w-full bg-white transition-all duration-500 ease-in-out">

    <div class="container mx-auto max-w-screen-2xl flex items-center py-3">
        <div>
            {{- render.atom('link', 'home', { 
                url: baseUrl,
                title: branding.organisationName,
                logo: branding.icon[0].extension == 'svg' ? branding.icon[0] : null ??? null,
                utilities: 'w-16 h-16',
                placeholder: placeholder,
                swatch: swatch,
            }) -}}
        </div>
        
        <div class="hidden lg:flex lg:space-x-10 ml-auto">
            {%- for item in navigation -%}
                {{- render.atom('navigation', 'item', { item: item }) -}}
            {%- endfor -%}
        </div>

        <div>
            <a href="#page" role="button" tabindex="0" class="absolute left:0 top-sr w-1 h-1 overflow-hidden focus:static focus:w-auto focus:h-auto focus:overflow-visible">
                Skip navigation
            </a>
        </div>

        <button--hamburger :swatch="{{ swatch|json_encode }}"></button--hamburger>

        <navigation--drawer :swatch="{{ swatch|json_encode }}"></navigation--drawer>
    </div>

</nav> #}