{%- set socialsLUT = {
    'facebook': 'fa-facebook-f',
    'twitter': 'fa-twitter',
    'instagram': 'fa-instagram',
    'linkedin': 'fa-linkedin-in',
    'youtube': 'fa-youtube',
    'vimeo': 'fa-vimeo-v',
    'github': 'fa-github'
} -%}

{%- set utilities = utilities ?? '' -%}
{%- set wrapperUtilities = wrapperUtilities ?? '' %}
{%- set linkUtilities = linkUtilities ?? '' -%}

<nav class="{{- utilities -}}" role="menu" aria-label="Social media pages of Percipio">
    {% for social in seomatic.site.sameAsLinks %}
        <a 
            href="{{- social.url -}}" 
            class="text-white hover:opacity-75 inline-block text-lg" 
            title="{{- social.siteName -}}" 
            aria-label="{{- social.siteName -}}" 
            target="_blank" 
            rel="noopener"
            role="menuitem"
            data-tag-category="{{- 'social-navigation-' ~ social.handle -}}" 
            data-tag-action="click" 
            data-tag-label="{{- social.url -}}" 
        >
            <span class="sr-only">{{- social.siteName -}}</span>
            <i aria-hidden="true" class="{{- socialsLUT[social.handle] is defined ? 'fab ' ~ socialsLUT[social.handle] : 'fas fa-hashtag' -}}"></i>
        </a>
    {% endfor %}
</nav>
