{%- set styling = styling ??? "" -%}
{%- set nodes = craft.navigation.nodes()
    .handle('legalNavigation')
    .level(1)
    .all() -%}

<nav class="{{- styling -}}" role="menu" aria-labelledby="footer-legal-navigation">
	{% nav node in nodes %}
	<a {% if node.url %} href="{{ node.url }}" {% endif %} title="{{- node.title -}}" class="hover:underline {{ node.classes | length ? node.classes : '' }}" {% if node.newWindow %} target="_blank" rel="noopener" {% endif %} {% for attribute in node.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %} role="menuitem">
		{{- node.title -}}
	</a>
	{% endnav %}
</nav>
