{%- set socialsLUT = {
    'facebook': 'fa-facebook-f',
    'twitter': 'fa-twitter',
    'instagram': 'fa-instagram',
    'linkedin': 'fa-linkedin-in',
    'youtube': 'fa-youtube',
    'vimeo': 'fa-vimeo-v',
    'github': 'fa-github'
} -%}
{%- set utilities = utilities ?? '' -%}
{%- set wrapperUtilities = wrapperUtilities ?? '' %}
{%- set linkUtilities = linkUtilities ?? '' -%}

<nav role="menu" class="{{- utilities -}}" aria-labelledby="social-navigation">
    <div role="menubar" class="{{- wrapperUtilities }} w-full space-x-3">
        {% for social in seomatic.site.sameAsLinks %}
            <a href="{{- social.url -}}" class="{{- linkUtilities }} inline-block text-lg" role="menuitem" title="{{- social.siteName -}}" aria-label="{{- social.siteName -}}" target="_blank" rel="noopener">
                <span class="sr-only">{{- social.siteName- }}</span>
                <i class="{{- socialsLUT[social.handle] is defined ? 'fab ' ~ socialsLUT[social.handle] : 'fas fa-hashtag' -}}"></i>
            </a>
        {% endfor %}
    </div>
</nav>
