{%- set utilities = utilities ?? '' -%}

{%- set legal = craft.entries.section('pages').type('legal').ids() -%}
{%- set navigation = craft.entries.section('pages').descendantOf(legal).all() -%}

<nav class="{{- utilities -}}" role="menu" aria-label="Footer legal navigation">
	{% for item in navigation %}
	<a 
		href="{{- item.url -}}" 
		data-tag-category="legal-navigation" 
		data-tag-action="click" 
		data-tag-label="{{- item.url -}}" 
		aria-label="{{- item.title -}}"
		title="{{- item.title -}}" 
		class="hover:underline" role="menuitem"
	>
		{{- item.title -}}
	</a>
	{% endfor %}
</nav>
