{#
    ### OPTIONS ###
    ---------------

    type: (STR) -- type of the svg

#}

{%- set placeholder = craft.globalSets()
    .handle('placeholders')
    .with(['brandingPlaceholder'])
    .one()
-%}

{% set values = {
    image: options.image ??? placeholder.brandingPlaceholder[0],
    type: options.type ??? "logo",
    url: options.url ??? alias('@web') ~ '/',
    title: options.title ??? "",
    imageStyling: options.imageStyling ??? "",
    containerStyling: options.containerStyling ??? "",
} %}

{# Render Logo #}

{% spaceless %}
	<a href="{{- values.url -}}" class="block relative z-1 {{ values.containerStyling -}}" title="{{- values.title -}}">
        <figure role="figure" aria-label="{{- values.title -}}" class="h-full">
            <picture class="h-full">
                <img src="{{- values.image.url -}}"
                    sizes="25vw"
                    alt="{{- values.title -}}"
                    class="lazyload {{ values.imageStyling -}}">
            </picture>
        </figure>
        {# {{ svg(values.svg, sanitize=true)|attr({ class: values.style }) }} #}
	</a>
{% endspaceless %}
