{% extends "_atoms/images/image--variables" %}

{#
    ### OPTIONS ###
    ---------------

    ## INHERITED

    image: (OBJ) -- Pass through the image object
    sizes: (ARR) -- sizes array for responsive images ( not used )
    alt: (STR) -- The alt text
    ratio: (STR) -- Give the aspect ratio in the correct format eg. is1by1 / is16by9 ( not used )
    caption: (STR) -- The caption text ( not used )
    author: (STR) -- The author of the image ( not used )
    source: (STR) -- The image source ( not used )

    ## ADDED

    placeholder: (OBJ) --- Add the placeholder image to the atom
    type: (STR) --- Checking the type of the image
    url: (STR) --- adding a URL to the image ( in consideration )

#}

{% block image %}

    {%- set values = values|merge({
        placeholder: options.placeholders.brandingPlaceholder[0] ??? null,
        type: options.image.extension ??? null,
        url: options.url ??? null,
        utilities: options.utilities ??? '',
        imageUtilities: options.imageUtilities ??? '',
    }) -%}

    {%- minify -%}
        <a 
            href="{{- values.url -}}" 
            data-tag-category="partner" 
            data-tag-action="click" 
            data-tag-label="{{- values.url -}}" 
            class="{{- values.utilities -}}" 
            title="{{- values.alt -}}"
            role="button"
            tabindex="0"
            aria-label="{{- values.alt -}}"
        >
            <figure role="figure" aria-label="{{- values.alt -}}" class="h-full">
                <picture class="h-full">
                    <img src="{{- values.image.url -}}"
                        sizes="{%- for size in values.sizes -%}{{- not loop.last ? size ~ ',' : size -}}{%- endfor -%}"
                        alt="{{- values.alt -}}"
                        class="lazyload {{- values.imageUtilities -}}">
                </picture>
            </figure>
        </a>
    {%- endminify -%}

{% endblock %}
