{% extends "_atoms/quotes/quote--variables" %}

{# 
    ### OPTIONS ###
    ---------------

    content: (STR) -- The actual quote
    source: (OBJ) -- Object that contains the source link

#}

{% import '_macros/atoms' as render %}

{% block quote %}

    {%- minify -%}

        <blockquote {{ (options.source ? 'cite="'~ options.source.getText(options.source.getUrl()) ~ '"' : '')|raw }}>

            <p>
                {{- render.atom('text', 'content', { content: values.content }) -}}
            </p>

            {%- if options.source -%}

                <footer>
                    <a 
                        href="{{- options.source.getUrl() -}}"
                        data-tag-category="quote" 
                        data-tag-action="click" 
                        data-tag-label="{{- options.source.getUrl() -}}"
                    >
                        {{- options.source.getText(options.source.getUrl()) -}}
                    </a>
                </footer>

            {%- endif -%}

        </blockquote>

    {%- endminify -%}

{% endblock %}