{% extends "_atoms/quotes/quote--variables" %}

{# 
    ### OPTIONS ###
    ---------------

    content: (STR) -- The actual quote
    source: (OBJ) -- Object that contains the source link
    position: (STR) -- The position in case it is a Pull quote

#}

{% import '_macros/atoms' as render %}

{% block quote %}

    {%- minify -%}

        <aside class="clearfix {{- values.position =='left' ? 'float-left' : 'float-right' -}}">

            <blockquote {{ values.source ? 'cite="'~ values.source.getText() ~ '"' : '' }}>

                <p>
                    {{- render.atom('text', 'content', { content: values.content }) -}}
                </p>

                {%- if values.source -%}

                    <footer>
                        <a 
                            href="{{- values.source.getUrl() -}}"
                            data-tag-category="quote" 
                            data-tag-action="click" 
                            data-tag-label="{{- values.source.getUrl() -}}"
                        >
                            {{- values.source.getText() -}}
                        </a>
                    </footer>

                {%- endif -%}

            </blockquote>

        </aside>

    {%- endminify -%}

{% endblock %}