{% import '_macros/atoms' as render %}

{%- set utilities = utilities ??? '' -%}

{%- minify -%}

    <div class="mt-16 w-full">

        {# TODO set maxwidth breakpoints #}
        <div class="container mx-auto max-w-screen-lg {{ utilities -}}">

            <div class="leading-none">

                {{- render.atom('text', 'overline', {
                        content: content.overline,
                        utilities: 'text-' ~ swatch.primary ~ ' mb-4 font-mono',
                    })
                -}}

                <h2 class="md:text-5xl mb-4 md:mb-8 text-3xl font-primary font-bold">
                    {{- render.atom('text', 'title', { content: content.heading }) -}}
                </h2>

                {% if content.button and content.button.getUrl() %}

                    {{- render.atom('button', 'primary', {
                        url: content.button.getUrl(),
                        text: content.button.getText(),
                        target: content.button.getTarget(),
                        gaCategory: 'header-section-cta',
                        gaAction: 'click',
                        gaLabel: content.button.getUrl(),
                        swatch: swatch,
                        inverted: true,
                    }) -}}
                {% else %}
                    
                    <hr class="h-1 w-32 bg-{{- swatch.primary -}}">
                    
                {% endif %}
            </div>

        </div>

    </div>

{%- endminify -%}
