{%- import '_macros/atoms' as render -%}
{% import '_macros/functions' as functions %}

{%- set utilities = utilities ??? '' -%}

{%- minify -%}

    <div class="mt-20 w-full bg-blue-600 h-96">

        <div class="container mx-auto max-w-screen-lg {{ utilities -}}">

            <div class="leading-none">

                <h2 class="font-primary text-3xl md:text-5xl font-bold mb-4 md:mb-8 text-white-100">
                    {{- render.atom('text', 'title', { content: content.heading }) -}}
                </h2>
                
                {%- if entry.section.type == 'structure' -%}

                    <h3>This section was updated on the {{ entry.dateUpdated|date('jS F Y') }}</h3>

                {%- else -%}

                    <h3>Last section updated:
                    
                        {%- for entry in craft.entries.section('handbook').limit(1).orderBy('dateUpdated desc').all() -%}
                           
                            <a href="{{ entry.url }}"> {{ entry.title }}</a> on {{ entry.dateUpdated|date('jS F Y') }}

                        {%- endfor -%}</h3>
                {%- endif -%}
                
            </div>

            {%- if entry.level == 1 -%}

                <h2 class="font-primary text-3xl md:text-5xl font-bold mb-4 md:mb-8 text-gray-100">{{- functions.getEntryPosition(entry) -}}</h2>

                {%- elseif entry.level > 1 -%}

                    {%- set parent = entry.getAncestors().one() -%}

                    <h2 class="font-primary text-3xl md:text-5xl font-bold mb-4 md:mb-8 text-gray-100">{{- functions.getEntryPosition(parent) -}}</h2>

            {%- endif -%}

        </div>
    </div>

{%- endminify -%}
