{%- extends "_atoms/inputs/input--variables" -%}

{#
    ### OPTIONS ###
    ---------------

    id: (STR) -- the id for the input field
    name: (STR) -- the name for the input field
    label: (STR) -- the name for the input field label
    placeholder: (STR) -- the placeholder for the input field
    required: (STR) -- if the input is required
    utilities: (STR) -- TW utilities to be added, to extend or overwrite the current ones

#}

{%- block input -%}

    {%- minify -%}

        <div>

            <label 
                for="{{- values.name -}}">
                
                <span class="inline-flex mb-2">
                    {{- values.label -}}
                </span>

                <input 
                    name="{{- values.name -}}"
                    required="{{- values.required -}}"
                    id="{{- values.id -}}"
                    placeholder="{{- values.placeholder -}}"
                    type="password"
                    class="appearance-none block w-full px-6 py-4 text-black-100 outline-none focus:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-pink-800 focus:ring-opacity-50"
                />

            </label>

        </div>

    {%- endminify -%}

{%- endblock -%} 