{% import '_macros/atoms' as render %}
{% import '_macros/functions' as functions %}

{%- set parent = entry.getAncestors().one() -%}

{%- minify -%}

    <div class="mt-24 w-full bg-blue-600 text-white-100 flex overflow-hidden h-116">

        <div class="container my-auto mx-144">

            <div>

                {%- if entry.level > 1 -%}

                    <h2 class="text-6xl font-bold">
                        {{- render.atom('text', 'content', {
                            content: parent.title,
                        }) -}}
                    </h2>

                    {%- else -%}
                    
                    <h2 class="text-6xl font-bold">
                        {{- render.atom('text', 'content', {
                            content: entry.title
                        }) -}}
                    </h2>

                {% endif %}

                {%- if entry.section.type == 'structure' -%}
                    <div class="my-6 space-x-2">
                        {%- include '_molecules/breadcrumbs/breadcrumbs--handbook'  -%}
                    </div>

                    {{- render.atom('text', 'content', {
                        content: 'This section was updated on the '
                    }) -}}

                    {{- render.atom('text', 'content', {
                        content: entry.dateUpdated|date('jS F Y')
                    }) -}}

                {%- else -%}

                    <h3>Last section updated:
                    
                        {%- for entry in craft.entries.section('handbook').limit(1).orderBy('dateUpdated desc').all() -%}
                           
                            <a href="{{ entry.url }}">
                                {{ entry.title }}
                            </a> 
                            on {{ entry.dateUpdated|date('jS F Y') }}

                        {%- endfor -%}

                    </h3>

                {%- endif -%}
                
            </div>

        </div>

        <div class="font-extrabold -mt-32 -mr-6 text-white opacity-50 text-150xl">
                {%- if entry.level == 1 -%}

                    {{- render.atom('text', 'content', {
                        content: functions.getEntryPosition(entry)
                    }) -}}

                    {%- elseif entry.level > 1 -%}
                        
                        {{- render.atom('text', 'content', {
                            content: functions.getEntryPosition(parent)
                        }) -}}

                    {%- else -%}

                        {{- render.atom('text', 'content', {
                            content: 1
                        }) -}}

                {%- endif -%}
            </div>
    </div>

{%- endminify -%}
