{% set nodes = craft.navigation.nodes()
    .handle('primaryNavigation')
    .level(1)
    .all() %}

<div>
    <div class="bg-black z-20 w-full absolute bg-transparent h-20 py-16 flex justify-between items-center px-8 md:px-16 lg:px-32">
        <div class="justify-start">
            <svg width="64" height="72" viewBox="0 0 64 72"><path d="M18.24,34.976a5.218,5.218,0,0,0-2.4,4.118v24.34a5.211,5.211,0,0,0,2.4,4.118L39.933,79.774a5.436,5.436,0,0,0,4.809,0L66.434,67.551a5.219,5.219,0,0,0,2.4-4.118V39.094a5.212,5.212,0,0,0-2.4-4.118L44.741,22.753a5.439,5.439,0,0,0-4.808,0Z" transform="translate(-10.369 -14.768)" fill="#8c2829" fill-rule="evenodd"/><path d="M34.53,42.878v18l16.227-8.06V41.084l12.008,6.408L28.482,65.862,50.847,78.727,50.64,94.954,78.423,78.74V45.057l-27.577-7.62Z" transform="translate(-18.649 -24.75)" fill="#000107"/><path d="M23.684,35.424,39.911,26.1l7.941,4.143L13.672,49.579,39.911,64.425,50.268,58.08,33.7,49.234l33.848-19.8L39.8,12.973,11.917,29.4" transform="translate(-7.803 -8.732)" fill="#46869b"/><path d="M34.385,1.26l27.21,15.709a5.292,5.292,0,0,1,2.392,4.143V52.531a5.291,5.291,0,0,1-2.392,4.142L34.384,72.383a5.289,5.289,0,0,1-4.783,0L2.392,56.674A5.291,5.291,0,0,1,0,52.531V21.112A5.292,5.292,0,0,1,2.392,16.97L29.6,1.261A5.29,5.29,0,0,1,34.385,1.26ZM7.872,20.9a5.218,5.218,0,0,0-2.4,4.118v24.34a5.211,5.211,0,0,0,2.4,4.118L29.564,65.695a5.436,5.436,0,0,0,4.809,0L56.065,53.472a5.219,5.219,0,0,0,2.4-4.118V25.015a5.212,5.212,0,0,0-2.4-4.118L34.373,8.673a5.439,5.439,0,0,0-4.808,0Z" transform="translate(0 -0.689)" fill="#fff"/></svg>
        </div>
        <div @click="toggleMenu" class="justify-end h-16 w-16">
            <div class="absolute flex justify-center items-center w-16 h-16 z-40">
                <span :class="hamburgerOpen ? 'rotate-45 translate-y-2' : 'rotate-0'" class="mb-4 relative bg-white block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
                <span :class="hamburgerOpen ? '-rotate-90 -translate-y-4 ' : 'rotate-0'" class="mt-4 relative bg-white block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
            <div>
        </div>
    </div>
    <div :class="hamburgerOpen ? 'block' : 'hidden'" class="nav-gradient absolute z-30 overflow-scroll fixed top-0 left-0 w-screen h-screen text-white text-center text-lg">
        <nav class="flex flex-col items-center h-full justify-center">
            {%- for node in nodes -%}
                <div class="my-4 flex flex-col">
                    <div class="uppercase font-bold text-xl mt-6 tracking-wide">
                        <a ref="{{- node.url -}}" 
                            title="{{- node.title -}}"
                            {% if node.newWindow -%}target="_blank" rel="noopener noreferrer"{%- endif %}
                            class="mb-4"
                        >
                            {{- node.title -}}
                        </a>
                    <div>
                    {% if node.hasDescendants %}
                        {% for subnode in node.children %}
                            <div class="my-4 normal-case text-lg font-normal">
                                <a  href="{{- subnode.url -}}" 
                                    title="{{- subnode.title -}}"
                                    {% if subnode.newWindow -%}target="_blank" rel="noopener noreferrer"{%- endif %}
                                    class="my-1" 
                                >
                                    {{- subnode.title -}}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {%- endfor -%}
        </nav>
    </div>
</div>
