{% set nodes = craft.navigation.nodes()
    .handle('primaryNavigation')
    .level(1)
    .all() %}



<div>

    <div class="z-40 w-full absolute bg-transparent h-12 md:h-20 py-16 flex justify-between items-center px-8 md:px-16 lg:px-32">
        <div class="w-16 h-16">
            <a href="{{ siteUrl }}" title="percipio">
                <svg version="1.1" id="Percipio_Logo" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 120 866 1000" xml:space="preserve">
                    <path id="P_Section" fill="none" d="M0 559.5l537.7-309.6-104.2-60.2L164.6 345 0 250 433 0l433 250-537.6 309.6 268.5 155L433 809.5z"/>
                    <g id="Dark_Group" fill={{entry.type == 'homepage' or entry.type == 'blog' ? '#1c64f2' : 'none' }} class="{{ entry.type == 'homepage' or entry.type == 'blog' ? "" : 'fill-current text-' ~ colour ~ '-800' }}">
                        <path id="Dark_2" d="M433 809.5l163.9-94.9-268.5-155L866 250v500l-433 250z"/>
                        <path id="Dark_1" d="M164.6 345v119.7l268.9-154.8V189.7z"/>
                    </g>
                    <g id="Light_Group" fill={{entry.type == 'homepage' or entry.type == 'blog' ? '#d61f69' : 'none' }} class="{{ entry.type == 'homepage' or entry.type == 'blog' ? "" : 'fill-current text-' ~ colour ~ '-600' }}">
                        <path id="Light_3" d="M433.5 189.7v120.2l104.2-60z"/>
                        <path id="Light_2" d="M0 559.5l433 250V1000L0 750z"/>
                        <path id="Light_1" d="M0 250l164.6 95v119.7L0 559.5z"/>
                    </g>
                </svg>
            </a>
        </div>

        <div @click="toggleMenu" class="justify-end cursor-pointer h-16 w-16">
            <div class="absolute flex justify-end items-center w-16 h-16 z-40">
                <span :class="hamburgerOpen ? 'bg-white-100 rotate-45 translate-y-2' : '{{ entry.type == 'homepage' or entry.type == 'blog' ? 'bg-blue-600' : 'bg-' ~ colour ~ '-600'}} rotate-0'" class=" mb-4 relative block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
                <span :class="hamburgerOpen ? 'bg-white-100 -rotate-90 -translate-y-4' : '{{ entry.type == 'homepage' or entry.type == 'blog' ? 'bg-blue-600' : 'bg-' ~ colour ~ '-600'}} rotate-0'" class="mt-4 relative block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
            <div>
        </div>
    </div>

    <div :class="hamburgerOpen ? 'block' : 'hidden'" class="hero-grad overflow-scroll fixed top-0 left-0 w-screen h-screen text-white-100 text-center text-lg">
            <nav class="z-50 flex flex-col items-center h-full justify-center">
                {%- for node in nodes -%}
                    <div class="my-4 flex flex-col">
                        <div class="uppercase font-bold text-xl mt-6 tracking-wide">
                            <a  href="{{- node.url -}}"
                                title="{{- node.title -}}"
                                {% if node.newWindow -%} target="_blank" rel="noopener noreferrer"{%- endif %}
                                class="mb-4"
                            >
                                {{- node.title -}}
                            </a>
                        <div>
                        {% if node.hasDescendants %}
                            {% for subnode in node.children.all() %}
                                <div class="my-4 normal-case text-lg font-normal">
                                    <a  href="{{- subnode.url -}}"
                                        title="{{- subnode.title -}}"
                                        {% if subnode.newWindow -%}target="_blank" rel="noopener noreferrer"{%- endif %}
                                        class="my-1"
                                    >
                                        {{- subnode.title -}}
                                    </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {%- endfor -%}
            </nav>
        </div>
    </div>
</div>
